<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ EBI MetaboLights - http://www.ebi.ac.uk/metabolights
  ~ Cheminformatics and Metabolism group
  ~
  ~ Last modified: 3/26/14 8:44 AM
  ~ Modified by:   kenneth
  ~
  ~ Copyright 2014 - European Bioinformatics Institute (EMBL-EBI), European Molecular Biology Laboratory, Wellcome Trust Genome Campus, Hinxton, Cambridge CB10 1SD, United Kingdom
  -->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory >
        <mapping class="uk.ac.ebi.metabolights.model.MetabolightsUser" />
        <mapping class="uk.ac.ebi.metabolights.model.MetaboLightsParameters" />
        <mapping class="uk.ac.ebi.metabolights.model.MLStats" />

    </session-factory>
</hibernate-configuration>
