--OLD --
We are happy to inform you that your submitted study ({0}) has been successfully processed.

Your study is now identified in MetaboLights as {1}.

The public release date is {2}.

SUBMISSION CHECKLIST - Your study will not be published and made available to the world, until the following conditions have been satisfied:
A. Stage 1 (ISAcreator) validation has successfully passed.
B. Stage 2 (Online) validation has successfully passed.
C. The submitter (you) promotes the study status from Submitted to In Curation (minimum 28 days is required for our validation and curation).
D. The curation team approves the study and moves the study status from In Curation to In Review.
E. Your public release date is reached.

For private pre-publication access to your study, please see the "Share study" link at the top of the study page.
Please note that the pre-publication link is only accessible when the study is in “In Review” status”.

Many thanks for your time and effort. You can access your study here: {3}{1}.
