.settings/
.idea/
.gradle/
*.iml
*.iws
log/
config
target/
.DS_Store
build/
*.jar
*.class
!gradle-wrapper.jar
.gradletasknamecache


mzml_validation_progress_log.txt
*.mp4
metabolights.sh
study_titles.sh
test_investigation_files.sh
update_study_meta_stats.sh
validate_studies.sh
rebuildAll_ken.sh
