.idea/
*.iml
*.iws
log/
target/
.DS_Store
metabolights-webapps/src/main/webapp/WEB-INF/classes/application.properties.template
metabolights-webapps/src/main/webapp/WEB-INF/classes/hibernate.cfg.xml
metabolights-webapps/src/main/webapp/WEB-INF/classes/log4j2.xml
metabolights-webapps/src/main/webapp/WEB-INF/classes/rl_frontier_config.json
metabolights-webapps/src/main/webapp/WEB-INF/classes/email_template/accountApprovedTemplate.txt
metabolights-webapps/src/main/webapp/WEB-INF/classes/email_template/htmlemail.vm
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/authenticate/AppRole.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/authenticate/IsaTabAuthentication.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/authenticate/IsaTabAuthenticationProvider.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/checklists/CheckList.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/checklists/CheckListItem.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/checklists/ICheckListItemSeed.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/checklists/SubmissionProcessCheckListSeed.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/AbstractController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/CompoundController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/ContactUsController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/EntryController$PageActions.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/EntryController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/FileDispatcherController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/GenericController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/HomePageController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/HTTPErrorController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/LoginController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/ManagerController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/MetaboLightsParametersController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/MetaboliteImporterController$1.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/MetaboliteImporterController$2.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/MetaboliteImporterController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/Proxy.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/SpeciesSearchController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/StatisticsController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/SubmissionController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/SubmissionQueueController$BIIException.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/SubmissionQueueController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/UpdateStudyController$RequestParameters.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/UpdateStudyController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/UserAccountController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/controller/WSSearchController.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/dao/MetaboLightsParametersDAO.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/dao/MetaboLightsParametersDAOImpl.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/dao/MetaboLightsStatsDAO.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/dao/MetaboLightsStatsDAOImpl.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/dao/UserDAO.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/dao/UserDAOImpl.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/es/HealthFilter.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/form/ContactValidation.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/form/EmailAddress.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/form/ProgressPageForm.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/model/MetaboLightsParameters.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/model/MetabolightsUser$UserStatus.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/model/MetabolightsUser.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/model/MLStats$PageCategory.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/model/MLStats.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/model/WebCompound.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/model/queue/SubmissionItem.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/model/queue/SubmissionQueue$1.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/model/queue/SubmissionQueue.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/properties/PropertyLookup.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/referencelayer/EBeyeSearchCompound.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/referencelayer/RefLayerFilter$FacetStatus.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/referencelayer/RefLayerFilter.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/referencelayer/RefLayerPOJO.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/referencelayer/model/ModelObjectFactory.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/AppContext.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/ApplicationContextProvider.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/CountryService.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/EmailService$1.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/EmailService.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/MetaboLightsParametersService.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/MetaboLightsParametersServiceImpl.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/MetaboLightsStatsService.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/MetaboLightsStatsServiceImpl.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/RCloudService.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/RCloudServiceImpl$ServerGDObjectListener.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/RCloudServiceImpl$ServerLogListener.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/RCloudServiceImpl$ServerRActionListener.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/RCloudServiceImpl.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/TextUtils.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/UserService.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/service/UserServiceImpl.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/utils/FileUtil.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/utils/GroupingUtil.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/utils/PropertiesUtil.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/utils/StringUtils.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/utils/Zipper.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/validate/ValidateContactUsForm.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/validate/ValidatorMetabolightsUser.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/webapp/GalleryItem$GalleryItemType.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/webapp/GalleryItem.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/webapp/MetaboLightsUtilities.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/webapp/StudyHealth.class
metabolights-webapps/src/main/webapp/WEB-INF/classes/uk/ac/ebi/metabolights/webapp/StyleMAVFactory.class
metabolights-webapps/src/main/webapp/WEB-INF/lib/activation-1.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/antlr-2.7.7.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/antlr-3.0.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/aopalliance-1.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/apache-mime4j-core-0.7.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/asm-3.3.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/axiom-api-1.2.13.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/axiom-impl-1.2.13.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/axis-1.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/axis-jaxrpc-1.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/axis-saaj-1.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/axis-wsdl4j-1.5.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/axis2-1.6.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/axis2-kernel-1.6.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/axis2-transport-http-1.6.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/axis2-transport-local-1.6.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/biobabel-citations-2.0.3.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/biobabel-core-0.9.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/biobabel-db-1.3.7.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/biojava3-core-3.0.5.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/caf-utility-0.8.6.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-annotation-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-atomtype-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-core-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-data-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-inchi-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-interfaces-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-io-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-ioformats-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-isomorphism-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-silent-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cdk-standard-1.4.15.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cglib-2.2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cglib-nodep-2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/chebiWS-client-2.2.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/cml-react-2.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-beanutils-1.8.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-codec-1.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-collections-3.2.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-compress-1.3.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-dbcp-1.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-digester-2.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-discovery-0.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-fileupload-1.2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-httpclient-3.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-io-2.0.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-lang-2.5.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/commons-pool-1.5.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/derby-10.3.2.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/derbyclient-10.3.2.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/derbynet-10.3.2.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/dom4j-1.6.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/ebeye-client-2.0.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/ebinocle-1.0.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/ganymed-ssh2-build210.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/geronimo-activation_1.1_spec-1.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/geronimo-javamail_1.4_spec-1.7.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/geronimo-stax-api_1.0_spec-1.0.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/geronimo-ws-metadata_2.0_spec-1.1.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/globalnames-client-0.1-20150423.090440-3.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/hamcrest-all-1.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/hibernate-commons-annotations-4.0.2.Final.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/hibernate-core-4.2.11.Final.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/hibernate-jpa-2.0-api-1.0.1.Final.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/hibernate-validator-4.3.2.Final.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/httpclient-4.3.5.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/httpcore-4.3.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jackson-annotations-2.4.3.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jackson-core-2.4.3.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jackson-core-asl-1.9.12.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jackson-databind-2.4.3.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jackson-mapper-asl-1.9.12.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/javassist-3.18.1-GA.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jaxb-api-2.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jaxb-impl-2.1.7.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jaxb-xjc-2.1.7.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jaxen-1.1.3.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jaxws-api-2.1-1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jaxws-rt-2.1.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jaxws-tools-2.1.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jboss-logging-3.1.0.GA.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jboss-transaction-api_1.1_spec-1.0.1.Final.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jcl-over-slf4j-1.7.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jersey-client-1.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jersey-core-1.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jgrapht-0.6.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jnati-core-0.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jnati-deploy-0.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jni-inchi-0.8.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jsr311-api-1.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jstl-1.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/jul-to-slf4j-1.5.6.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/lambdaj-2.3.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/log4j-1.2-api-2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/log4j-api-2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/log4j-core-2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/log4j-slf4j-impl-2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/log4j-web-2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/lucene-core-3.4.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/mail-1.4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/mdk-domain-identifier-1.4.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/mdk-interface-1.4.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/mdk-service-core-1.4.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/mdk-service-soap-1.4.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/metabolights-domain-4.0-SNAPSHOT.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/metabolights-isatab-utils-1.2-SNAPSHOT.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/metabolights-referencelayer-dao-4.0-SNAPSHOT.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/metabolights-ws-client-4.0-SNAPSHOT.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/mimepull-1.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/neethi-3.0.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/objenesis-1.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/ols-client-1.18.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/openjfx-78-backport-1.8.0-ea-b96.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/persistence-api-1.0.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/pride-web-utils-1.3.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/rcloud-rpf-1.2.0-rcloud.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/rcloud-secure-1.2.0-rcloud.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/rcloud-server-api-1.2.0-rcloud.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/rcloud-util-1.2.0-rcloud.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/referencelayer-importer-0.4-20150423.090500-4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/resolver-20050927.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/rhea-domain-1.7.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/rhea-ws-client-2.0.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/rhea-ws-domain-2.1.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/saaj-api-1.3.jare
metabolights-webapps/src/main/webapp/WEB-INF/lib/saaj-impl-1.3.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/search-service-4.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/sjsxp-1.0.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/slf4j-api-1.7.7.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/species-core-0.3-20150423.090450-2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/species-model-0.2-20150423.090429-9.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-aop-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-beans-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-context-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-context-support-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-core-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-expression-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-jdbc-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-orm-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-security-acl-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-security-config-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-security-core-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-security-crypto-3.1.3.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-security-taglibs-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-security-web-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-social-core-1.0.3.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-social-twitter-1.0.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-tx-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-web-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/spring-webmvc-3.2.5.RELEASE.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/stax-api-1.0-2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/stax-api-1.0.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/stax-ex-1.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/stax2-api-3.0.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/streambuffer-0.7.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/stringtemplate-3.1-b1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/tiles-api-2.2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/tiles-core-2.2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/tiles-jsp-2.2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/tiles-servlet-2.2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/tiles-template-2.2.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/validation-api-1.0.0.GA.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/vecmath-1.3.1.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/velocity-1.7.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/woden-api-1.0M9.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/woden-impl-commons-1.0M9.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/woden-impl-dom-1.0M9.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/woodstox-core-asl-4.0.8.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/WoRMS-client-0.1-20150423.090411-4.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/wsdl4j-1.6.2.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/wstx-asl-3.2.9.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/xmlbeans-2.5.0.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/XmlSchema-1.4.7.jar
metabolights-webapps/src/main/webapp/WEB-INF/lib/xpp3-1.1.4c.jar
metabolights-webapps/src/main/webapp/WEB-INF/classes/*
*.jar
*.class
mzml_validation_progress_log.txt
*.mp4
metabolights-webservice-dev.war
metabolights-webapp-dev.war
