
/*
 * IE7-only hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
*:first-child+html .goog-inline-block {
  display: inline;
}



body {
  background-color: #FFFFFF;
  font: normal 10pt Arial, sans-serif;
}


/* Misc. styles used for logging and debugging. */
fieldset {
  padding: 4px 8px;
  margin-bottom: 1em;
}

fieldset legend {
  font-weight: bold;
  color: #036;
}

label, input {
  vertical-align: middle;
}


input.button, {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px Comics, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}




input.smallButton {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    text-decoration: none;	
	}

input.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}


   input.smallButton {
        -webkit-transform: rotateX( 35deg );
        position: relative;
        display: inline-block;
        width: 25px;
        padding: 10px 4px;
        margin: 0px 3px;
        background-color: #E49319;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

        border: 1px solid;
        border-color: #fff;
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
    }
    
    div.draggingBar {
    
            -webkit-transform: rotateX( 35deg );
        position: relative;
        display: inline-block;
        width: 15px;
        padding: 3px 1px;
        margin: 0px 1px;
        background-color: #E49319;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

        border: 1px solid;
        border-color: #fff;
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px; 
    }
    
    
       input.button {
        -webkit-transform: rotateX( 35deg );
        position: relative;
        display: inline-block;
        width: 100px;
        padding: 10px 4px;
        margin: 0px 3px;
        background-color: #E49319;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

        border: 1px solid;
        border-color: #fff;
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
    }
    

    input.smallButton:hover,input.button:hover {
        background-color: #EBC354;
        color: #e3e3e3;
    }

    input.smallButton:active {
        top: 8px;
        box-shadow: 		inset 0px 4px 5px rgba(255,255,255,0.4),
                            inset 0px -1px 5px rgba(255,255,255,0.2),
                            /**/
                            0px 8px 0px #231F20,
                            /**/
                            0px 9px 5px rgba(0,0,0,0.5);

        -moz-box-shadow: 	inset 0px 4px 5px rgba(255,255,255,0.4),
                            inset 0px -1px 5px rgba(255,255,255,0.2),
                            /**/
                            0px 8px 0px #231F20,
                            /**/
                            0px 9px 5px rgba(0,0,0,0.5);

        -webkit-box-shadow: inset 0px 4px 5px rgba(255,255,255,0.4),
                            inset 0px -1px 5px rgba(255,255,255,0.2),
                            /**/
                            0px 8px 0px #231F20,
                            /**/
                            0px 9px 5px rgba(0,0,0,0.5);
    }


.hint {
  font-size: 90%;
  color: #369;
}
.perf {
  margin: 0;
  border: 0;
  padding: 4px;
  font: italic 95% Arial, sans-serif;
  color: #999;
}

#perf {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  margin: 0;
  border: 0;
  padding: 4px;
  font: italic 95% Arial, sans-serif;
  color: #999;
}



 #p{}

 /* This is the slider to move the spectrum */
        #sliderAtomOpacity {
      position: absolute; 
      left: 970px;
      top: 170px;
      width: 30px;
      height: 13px;
      font: normal 10px verdana;
      background-color: #EEE;
      color: #000;
      text-align:center;
      border: 1px solid #999;
      cursor: default;
    }    

        #sliderBondOpacity {
     position: absolute; 
      left: 970px;
      top: 187px;
      width: 30px;
      height: 13px;
      font: normal 10px verdana;
      background-color: #EEE;
      color: #000;
      text-align:center;
      border: 1px solid #999;
      cursor: default;
    }

        #sliderPeakopacity {
     position: absolute; 
      left: 970px;
      top: 205px;
      width: 30px;
      height: 13px;
      font: normal 10px verdana;
      background-color: #EEE;
      color: #000;
      text-align:center;
      border: 1px solid #999;
      cursor: default;
    }
    
    
    
    
   /* The following code is reserved for the floatting window holding all the palet of color */
    
#colorchart{border:0;padding:0;border-collapse:collapse;}
    
#colorchart td{width:23px;height:23px;}.wrapper{height:100px;}.holder{width:68px;height:68px;float:left;margin:1px;}

#colorchart td{width:12px;height:12px;}.wrapper{height:50px;}.holder{width:34px;height:34px;float:left;margin:1px;}
.wrapper div div{height:68px;float:left;}.wrapper
div div div{width:38px;height:38px;margin:15px;}.off{background-image:url('http://c453312.r12.cf2.rackcdn.com/onoff_001.png');
background-position:0 -68px;}.on{background-image:url('http://c453312.r12.cf2.rackcdn.com/onoff_001.png');
background-position:-68px -136px;}.htmlcode{border:1px solid gray;background-color:gray;color:white;padding:5px;}
.yui-picker-hue-thumb{cursor:default;width:18px;height:18px;top:-8px;left:-2px;z-index:9;position:absolute;}
.yui-picker-hue-bg{-moz-outline:none;outline:0 none;position:absolute;left:380px;height:366px;width:28px;
background:url(http://c453312.r12.cf2.rackcdn.com/hue_bg.png) no-repeat;top:4px;}
.yui-picker-bg{-moz-outline:none;outline:0 none;position:absolute;top:4px;left:4px;height:364px;width:364px;background-color:#F00;background-image:url(http://c453312.r12.cf2.rackcdn.com/picker_mask.png);}
*html .yui-picker-bg{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://c453312.r12.cf2.rackcdn.com/picker_mask.png',sizingMethod='scale');}
.yui-picker-thumb{cursor:default;width:11px;height:11px;z-index:9;position:absolute;top:-4px;left:-4px;}
.yui-picker-swatch{position:absolute;left:430px;top:10px;height:155px;width:195px;border:2px solid #7c7c7c;}
.yui-picker-controls{position:absolute;top:180px;left:430px;font:1.6em monospace;}.yui-picker-controls
.hd{background:transparent;border-width:0!important;}.yui-picker-controls
.bd{height:100px;border-width:0!important;}
.yui-picker-controls ul{float:left;padding:0 2px 0 0;margin:0;}.yui-picker-controls li{padding:2px;list-style:none;margin:0;}
.yui-picker-controls input{font-size:20px;width:2.4em;}.yui-picker-hex-controls{clear:both;padding:20px 0 0 0;font:2em monospace;}
.yui-picker-hex-controls input{width:160px;font:40px monospace;margin-left:-20px;}.yui-picker-controls 

a{font:40px arial,helvetica,clean,sans-serif;display:block;*display:inline-block;padding:0;color:#000;}
     
#container{background-color:#FFFFFF;height:380px;width:640px;position:relative;}
     
#insertcolor{background-color:#FFFFFF;width:630px;font-size:0px;position:relative;text-align:right;padding:5px;margin:5px 0;}
     
input#startcolor{font-size:16px;width:90px;}
button#newcolor{font-size:16px;}
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;box-sizing:content-box;
     
  