
/*
 * IE7-only hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
*:first-child+html .goog-inline-block {
  display: inline;
}



body {
  background-color: #EEEEEE;
  font: normal 10pt Arial, sans-serif;
}


/* Misc. styles used for logging and debugging. */
fieldset {
  padding: 4px 8px;
  margin-bottom: 1em;
}

fieldset legend {
  font-weight: bold;
  color: #036;
}

label, input {
  vertical-align: middle;
}

.hint {
  font-size: 90%;
  color: #369;
}
.perf {
  margin: 0;
  border: 0;
  padding: 4px;
  font: italic 95% Arial, sans-serif;
  color: #999;
}

#perf {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  margin: 0;
  border: 0;
  padding: 4px;
  font: italic 95% Arial, sans-serif;
  color: #999;
}



 #p{}
 /* This slider refers the left zoom (bottom right rectangle) */
        #slider1 {
      position: absolute;
      left: 775px;
      top: 75px;
      width: 30px;
      height: 13px;
      font: normal 10px verdana;
      background-color: #EEE;
      color: #000;
      text-align:center;
      border: 1px solid #999;
      cursor: default;
    }

 /* This slider refers the right zoom (bottom left rectangle) */ 
        #slider2 {
      position: absolute;
      left: 625px;
      top: 75px;
      width: 30px;
      height: 13px;
      font: normal 10px verdana;
      background-color: #EEE;
      color: #000;
      text-align:center;
      border: 1px solid #999;
      cursor: default;
    }
    
 /* This slider refers the up and down zoom (upper left rectangle) */

        #slider3 {
      position: absolute;
      left: 590px;
      top: 15px;
      width: 30px;
      height: 13px;
      font: normal 10px verdana;
      background-color: #EEE;
      color: #000;
      text-align:center;
      border: 1px solid #999;
      cursor: default;
    }
   
 /* This is the slider to move the spectrum */
        #slider4 {
      position: absolute;
      left: 665px;
      top: 95px;
      width: 110px;
      height: 13px;
      font: normal 10px verdana;
      background-color: #EEE;
      color: #000;
      text-align:center;
      border: 1px solid #999;
      cursor: default;
    }    
    
