
/*
 * IE7-only hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
*:first-child+html .goog-inline-block {
  display: inline;
}



body {
  background-color: #FFFFFF;
  font: normal 10pt Arial, sans-serif;
}


/* Misc. styles used for logging and debugging. */
fieldset {
  padding: 4px 8px;
  margin-bottom: 1em;
}

fieldset legend {
  font-weight: bold;
  color: #036;
}

label, input {
  vertical-align: middle;
}


input.button, {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px Comics, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

input.smallButton {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    text-decoration: none;	
	}

input.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}


   input.smallButton {
        -webkit-transform: rotateX( 35deg );
        position: relative;
        display: inline-block;
        width: 25px;
        padding: 10px 4px;
        margin: 0px 3px;
        background-color: #E49319;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

        border: 1px solid;
        border-color: #fff;
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;

 
    }
    
    
       input.button {
        -webkit-transform: rotateX( 35deg );
        position: relative;
        display: inline-block;
        width: 100px;
        padding: 10px 4px;
        margin: 0px 3px;
        background-color: #E49319;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

        border: 1px solid;
        border-color: #fff;
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
    }
    

    input.smallButton:hover,input.button:hover {
        background-color: #EBC354;
        color: #e3e3e3;
    }

    input.smallButton:active {
        top: 8px;
        box-shadow: 		inset 0px 4px 5px rgba(255,255,255,0.4),
                            inset 0px -1px 5px rgba(255,255,255,0.2),
                            /**/
                            0px 8px 0px #231F20,
                            /**/
                            0px 9px 5px rgba(0,0,0,0.5);

        -moz-box-shadow: 	inset 0px 4px 5px rgba(255,255,255,0.4),
                            inset 0px -1px 5px rgba(255,255,255,0.2),
                            /**/
                            0px 8px 0px #231F20,
                            /**/
                            0px 9px 5px rgba(0,0,0,0.5);

        -webkit-box-shadow: inset 0px 4px 5px rgba(255,255,255,0.4),
                            inset 0px -1px 5px rgba(255,255,255,0.2),
                            /**/
                            0px 8px 0px #231F20,
                            /**/
                            0px 9px 5px rgba(0,0,0,0.5);
    }


.hint {
  font-size: 90%;
  color: #369;
}
.perf {
  margin: 0;
  border: 0;
  padding: 4px;
  font: italic 95% Arial, sans-serif;
  color: #999;
}

#perf {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  margin: 0;
  border: 0;
  padding: 4px;
  font: italic 95% Arial, sans-serif;
  color: #999;
}



 #p{}

 /* This is the slider to move the spectrum */
        #sliderAtomOpacity {
      position: absolute; 
      left: 970px;
      top: 170px;
      width: 30px;
      height: 13px;
      font: normal 10px verdana;
      background-color: #EEE;
      color: #000;
      text-align:center;
      border: 1px solid #999;
      cursor: default;
    }    

        #sliderBondOpacity {
     position: absolute; 
      left: 970px;
      top: 187px;
      width: 30px;
      height: 13px;
      font: normal 10px verdana;
      background-color: #EEE;
      color: #000;
      text-align:center;
      border: 1px solid #999;
      cursor: default;
    }

        #sliderPeakopacity {
     position: absolute; 
      left: 970px;
      top: 205px;
      width: 30px;
      height: 13px;
      font: normal 10px verdana;
      background-color: #EEE;
      color: #000;
      text-align:center;
      border: 1px solid #999;
      cursor: default;
    }
    