
urlBiiPrefixSearch=http://CHANGE/browse_studies.seam
urlBiiPrefixStudy=http://CHANGE/study.seam

ftpServer=CHANGE
ftpServerMainSubDir=upload
ftpUser=CHANGE
ftpPassword=CHANGE

uploadDirectory=CHANGE

