
urlBiiPrefixSearch=http://CHANGE/browse_studies.seam
urlBiiPrefixStudy=http://CHANGE/study.seam
urlConfirmNewAccount=http://CHANGE/confirmAccountRequest
urlActivateNewAccount=http://CHANGE/activateAccount__NotifyUser

ftpServer=CHANGE
ftpServerMainSubDir=upload
ftpUser=CHANGE
ftpPassword=CHANGE

uploadDirectory=CHANGE

luceneIndexDirectory=CHANGE