/*
Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
*/

/*
 * Copyright 2009 Google Inc. All Rights Reserved
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/*
 * Styling for buttons rendered by goog.ui.ButtonRenderer.
 *

 */

.goog-button {
  color: #036;
  border-color: #036;
  background-color: #69c;
}

/* State: disabled. */
.goog-button-disabled {
  border-color: #333;
  color: #333;
  background-color: #999;
}

/* State: hover. */
.goog-button-hover {
  color: #369;
  border-color: #369;
  background-color: #9cf;
}

/* State: active. */
.goog-button-active {
  color: #69c;
  border-color: #69c;
}


/*
 * Default rule; only Safari, Webkit, and Opera handle it without hacks.
 */
.goog-inline-block {
  position: relative;
  display: -moz-inline-box; /* Ignored by FF3 and later. */
  display: inline-block;
}

/*
 * Pre-IE7 IE hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
* html .goog-inline-block {
  display: inline;
}


.goog-debug-panel {
  border: 1px solid #369;
}

.goog-debug-panel .logdiv {
  position: relative;
  width: 100%;
  height: 8em;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

.goog-debug-panel .logdiv .logmsg {
  font: normal 10px "Lucida Sans Typewriter", "Courier New", Courier, fixed;
}


/**/



/*
 * goog.ui.Menu
 */

/* State: resting. */
.goog-menu {
  background-color: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
}

/*
 * goog.ui.MenuItem
 */

/* State: resting. */
.goog-menuitem {
  color: #000;
  font: normal 12px Arial, sans-serif;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 10ex on the right for shortcut. */
  padding: 4px 4px 4px 28px;
  white-space: nowrap;
}

/* State: disabled. */
.goog-menuitem-disabled {
  color: #ccc;
}

/* State: hover. */
.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: #d6e9f8;
}

/* State: selected/checked. */
.goog-menuitem-checkbox,
.goog-menuitem-icon {
  height: 8px;
  left: 6px;
  position: absolute;
  width: 16px;
}
.goog-option-selected .goog-menuitem-checkbox,
.goog-option-selected .goog-menuitem-icon {
  background: transparent url(../images/check.gif) no-repeat center center;
}


/* Keyboard shortcut ("accelerator") style. */
.goog-menuitem-accel {
  color: #999;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}


/*
 * goog.ui.MenuSeparator
 */

/* State: resting. */
.goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 4px 0;
  padding: 0;
  position: relative;
}


/* goog.ui.SubMenu */

.goog-submenu-arrow {
  text-align: right;
  position: absolute;
  right: 0;
  left: auto;
}

.goog-menuitem-rtl .goog-submenu-arrow {
  text-align: left;
  position: absolute;
  left: 0;
  right: auto;
}

.goog-menuitem-disabled .goog-submenu-arrow {
  display: none;
}


/* goog.ui.FilteredMenu */

.goog-menu-filter {
  margin: 2px;
  border: 1px solid silver;
  background: white;
  overflow: hidden;
}

.goog-menu-filter div {
  color: gray;
  position: absolute;
  padding: 1px;
}

.goog-menu-filter input {
  margin: 0;
  border: 0;
  background: transparent;
  width: 100%;
}


/* goog.ui.TriStateMenuItem */

.goog-tristatemenuitem {
  padding: 2px 5px;
  margin: 0;
  list-style: none;
}

.goog-tristatemenuitem-highlight {
  background-color: #4279A5;
  color: #FFF;
}

.goog-tristatemenuitem-disabled {
  color: #999;
}

.goog-tristatemenuitem-checkbox {
  float: left;
  width: 10px;
  height: 1.1em;
}

.goog-tristatemenuitem-partially-checked {
  background-image: url(../images/check-outline.gif);
  background-position: 4px 50%;
  background-repeat: no-repeat;
}

.goog-tristatemenuitem-fully-checked {
  background-image: url(../images/check.gif);
  background-position: 4px 50%;
  background-repeat: no-repeat;
}


/* goog.ui.FilterObservingMenuItem */

.goog-filterobsmenuitem {
  padding: 2px 5px;
  margin: 0;
  list-style: none;
}

.goog-filterobsmenuitem-highlight {
  background-color: #4279A5;
  color: #FFF;
}

.goog-filterobsmenuitem-disabled {
  color: #999;
}

/*
 * Standard styling for buttons created by goog.ui.MenuButtonRenderer.
 *

 */


/* State: resting. */
.goog-menu-button {
  /* Client apps may override the URL at which they serve the image. */
  background: #ddd url(../images/button-bg.gif) repeat-x top left;
  border: 0;
  color: #000;
  cursor: pointer;
  list-style: none;
  margin: 2px;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
}

/* Pseudo-rounded corners. */
.goog-menu-button-outer-box,
.goog-menu-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}
.goog-menu-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}
.goog-menu-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-menu-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}


/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-menu-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}


/* Safari-only hacks. */
::root .goog-menu-button,
::root .goog-menu-button-outer-box,
::root .goog-menu-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}
::root .goog-menu-button-caption,
::root .goog-menu-button-dropdown {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* State: disabled. */
.goog-menu-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}
.goog-menu-button-disabled .goog-menu-button-outer-box,
.goog-menu-button-disabled .goog-menu-button-inner-box,
.goog-menu-button-disabled .goog-menu-button-caption,
.goog-menu-button-disabled .goog-menu-button-dropdown {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* State: hover. */
.goog-menu-button-hover .goog-menu-button-outer-box,
.goog-menu-button-hover .goog-menu-button-inner-box {
  border-color: #9cf #69e #69e #7af !important; /* Hover border wins. */
}

/* State: active, open. */
.goog-menu-button-active,
.goog-menu-button-open {
  background-color: #bbb;
  background-position: bottom left;
}

/* State: focused. */
.goog-menu-button-focused .goog-menu-button-outer-box,
.goog-menu-button-focused .goog-menu-button-inner-box {
  border-color: orange;
}

/* Caption style. */
.goog-menu-button-caption {
  padding: 0 4px 0 0;
  vertical-align: top;
}

/* Dropdown arrow style. */
.goog-menu-button-dropdown {
  width: 7px;
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(https://ssl.gstatic.com/editor/editortoolbar.png) no-repeat -388px 0;
  vertical-align: top;
}


/*
 * Styles used by goog.ui.ToolbarRenderer.
 */

.goog-toolbar {
  /* Client apps may override the URL at which they serve the image. */
  background: #fafafa url(../images/toolbar-bg.png) repeat-x bottom left;
  border-bottom: 1px solid #d5d5d5;
  cursor: default;
  font: normal 12px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 2px;
  position: relative;
  zoom: 1; /* The toolbar element must have layout on IE. */
}

/*
 * Styles used by goog.ui.ToolbarButtonRenderer.
 */

.goog-toolbar-button {
  margin: 0 2px;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-toolbar-button-outer-box,
.goog-toolbar-button-inner-box {
  border: 0;
  vertical-align: top;
}

.goog-toolbar-button-outer-box {
  margin: 0;
  padding: 1px 0;
}

.goog-toolbar-button-inner-box {
  margin: 0 -1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-toolbar-button-rtl .goog-toolbar-button-outer-box {
  /* @noflip */ left: -1px;
}
* html .goog-toolbar-button-rtl .goog-toolbar-button-inner-box {
  /* @noflip */ right: auto;
}


/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* IE7 BiDi fix. */
*:first-child+html .goog-toolbar-button-rtl .goog-toolbar-button-inner-box {
  /* @noflip */ left: 1px;
  /* @noflip */ right: auto;
}

/* Safari-only hacks. */
::root .goog-toolbar-button,
::root .goog-toolbar-button-outer-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-toolbar-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* Disabled styles. */
.goog-toolbar-button-disabled {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

.goog-toolbar-button-disabled .goog-toolbar-button-outer-box,
.goog-toolbar-button-disabled .goog-toolbar-button-inner-box {
  /* Disabled text/border color trumps everything else. */
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* Only draw borders when in a non-default state. */
.goog-toolbar-button-hover .goog-toolbar-button-outer-box,
.goog-toolbar-button-active .goog-toolbar-button-outer-box,
.goog-toolbar-button-checked .goog-toolbar-button-outer-box,
.goog-toolbar-button-selected .goog-toolbar-button-outer-box {
  border-width: 1px 0;
  border-style: solid;
  padding: 0;
}

.goog-toolbar-button-hover .goog-toolbar-button-inner-box,
.goog-toolbar-button-active .goog-toolbar-button-inner-box,
.goog-toolbar-button-checked .goog-toolbar-button-inner-box,
.goog-toolbar-button-selected .goog-toolbar-button-inner-box {
  border-width: 0 1px;
  border-style: solid;
  padding: 3px;
}

/* Hover styles. */
.goog-toolbar-button-hover .goog-toolbar-button-outer-box,
.goog-toolbar-button-hover .goog-toolbar-button-inner-box {
  /* Hover border style wins over active/checked/selected. */
  border-color: #a1badf !important;
}

/* Active/checked/selected styles. */
.goog-toolbar-button-active,
.goog-toolbar-button-checked,
.goog-toolbar-button-selected {
  /* Active/checked/selected background color always wins. */
  background-color: #dde1eb !important;
}

.goog-toolbar-button-active .goog-toolbar-button-outer-box,
.goog-toolbar-button-active .goog-toolbar-button-inner-box,
.goog-toolbar-button-checked .goog-toolbar-button-outer-box,
.goog-toolbar-button-checked .goog-toolbar-button-inner-box,
.goog-toolbar-button-selected .goog-toolbar-button-outer-box,
.goog-toolbar-button-selected .goog-toolbar-button-inner-box {
  border-color: #729bd1;
}

/* Pill (collapsed border) styles. */
.goog-toolbar-button-collapse-right,
.goog-toolbar-button-collapse-right .goog-toolbar-button-outer-box,
.goog-toolbar-button-collapse-right .goog-toolbar-button-inner-box {
  margin-right: 0;
}

.goog-toolbar-button-collapse-left,
.goog-toolbar-button-collapse-left .goog-toolbar-button-outer-box,
.goog-toolbar-button-collapse-left .goog-toolbar-button-inner-box {
  margin-left: 0;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-collapse-left .goog-toolbar-button-inner-box {
  left: 0;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-button-collapse-left
.goog-toolbar-button-inner-box {
  left: 0;
}


/*
 * Styles used by goog.ui.ToolbarMenuButtonRenderer.
 */

.goog-toolbar-menu-button {
  margin: 0 2px;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-inner-box {
  border: 0;
  vertical-align: top;
}

.goog-toolbar-menu-button-outer-box {
  margin: 0;
  padding: 1px 0;
}

.goog-toolbar-menu-button-inner-box {
  margin: 0 -1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-menu-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-toolbar-menu-button-rtl .goog-toolbar-menu-button-outer-box {
  /* @noflip */ left: -1px;
}
* html .goog-toolbar-menu-button-rtl .goog-toolbar-menu-button-inner-box {
  /* @noflip */ right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-menu-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* IE7 BiDi fix. */
*:first-child+html .goog-toolbar-menu-button-rtl
  .goog-toolbar-menu-button-inner-box {
  /* @noflip */ left: 1px;
  /* @noflip */ right: auto;
}

/* Safari-only hacks. */
::root .goog-toolbar-menu-button,
::root .goog-toolbar-menu-button-outer-box,
::root .goog-toolbar-menu-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-toolbar-menu-button-caption,
::root .goog-toolbar-menu-button-dropdown {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* Disabled styles. */
.goog-toolbar-menu-button-disabled {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

.goog-toolbar-menu-button-disabled .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-disabled .goog-toolbar-menu-button-inner-box {
  /* Disabled text/border color trumps everything else. */
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-menu-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-menu-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* Only draw borders when in a non-default state. */
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-outer-box {
  border-width: 1px 0;
  border-style: solid;
  padding: 0;
}

.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-inner-box {
  border-width: 0 1px;
  border-style: solid;
  padding: 3px;
}

/* Hover styles. */
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-inner-box {
  /* Hover border color trumps active/open style. */
  border-color: #a1badf !important;
}

/* Active/open styles. */
.goog-toolbar-menu-button-active,
.goog-toolbar-menu-button-open {
  /* Active/open background color wins. */
  background-color: #dde1eb !important;
}

.goog-toolbar-menu-button-active .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-inner-box {
  border-color: #729bd1;
}

/* Menu button caption style. */
.goog-toolbar-menu-button-caption {
  padding: 0 2px 0 0;
  vertical-align: bottom;
}

/* Dropdown style. */
.goog-toolbar-menu-button-dropdown {
  width: 7px;
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(https://ssl.gstatic.com/editor/editortoolbar.png) no-repeat -388px 0; 
  vertical-align: top;

}


/*
 * Styles used by goog.ui.ToolbarSeparatorRenderer.
 */

.goog-toolbar-separator {
  margin: 0 2px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #f7f7f7;
  padding: 0;
  width: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  vertical-align: middle;
  line-height: normal;
  font-size: 120%;
  overflow: hidden;
}


/*
 * Additional styling for toolbar select controls, which always have borders.
 */

.goog-toolbar-select .goog-toolbar-menu-button-outer-box {
  border-width: 1px 0;
  border-style: solid;
  padding: 0;
}

.goog-toolbar-select .goog-toolbar-menu-button-inner-box {
  width: 64px;
  height: 14px;
  border-width: 0 1px;
  border-style: solid;
  padding: 3px;
}

.goog-toolbar-select .goog-toolbar-menu-button-outer-box,
.goog-toolbar-select .goog-toolbar-menu-button-inner-box {
  border-color: #bfcbdf;
}

/*
 * Editor toolbar styles.
 *

 */

/* Common base style for all icons. */
.tr-icon {
  width: 16px;
  height: 16px;
  background: url(../images/toolbar_icons.png) no-repeat;
  vertical-align: middle;
}

/* Clear */
.tr-clear {
	background-position: -248px;
}

/* Zoom-in */
.tr-zoom-in {
	background-position: -280px;
}

/* Zoom-out */
.tr-zoom-out {
	background-position: -264px;
}

/* Undo (redo when the chrome is right-to-left). */
.tr-undo,
.goog-toolbar-button-rtl .tr-redo {
  background-position: -32px;
}

/* Redo (undo when the chrome is right-to-left). */
.tr-redo,
.goog-toolbar-button-rtl .tr-undo {
  background-position: -48px;
}

/* Move */
.tr-move {
	background-position: -310px;
}

/* Rotate */
.tr-rotate {
	background-position: -328px;
}

/* Erase */
.tr-erase {
	background-position: -126px;
}

/* Plus */
.tr-plus {
	background-position: -216px;
}

/* Arrow */
.tr-arrow {
	background-position: -232px;
}

/* Symbol */
.tr-symbol {
	background-position: -294px;
}

/* Bond */
.tr-bond {
	background-position: -184px;
}

/* Template */
.tr-template {
	background-position: -200px;
}

/* Cleanup */
.tr-cleanup {
	background-position: -142px;
}

specview-eraser {
	cursor: move;
}



