  <!--
  ~ EBI MetaboLights - http://www.ebi.ac.uk/metabolights
  ~ Cheminformatics and Metabolism group
  ~
  ~ European Bioinformatics Institute (EMBL-EBI), European Molecular Biology Laboratory, Wellcome Trust Genome Campus, Hinxton, Cambridge CB10 1SD, United Kingdom
  ~
  ~ Last modified: 2015-Mar-09
  ~ Modified by:   kenneth
  ~
  ~ Copyright 2015 EMBL - European Bioinformatics Institute
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
  -->  <!--
  ~ EBI MetaboLights - http://www.ebi.ac.uk/metabolights
  ~ Cheminformatics and Metabolism group
  ~
  ~ European Bioinformatics Institute (EMBL-EBI), European Molecular Biology Laboratory, Wellcome Trust Genome Campus, Hinxton, Cambridge CB10 1SD, United Kingdom
  ~
  ~ Last modified: 6/13/14 2:51 PM
  ~ Modified by:   conesa
  ~
  ~
  ~ ©, EMBL, European Bioinformatics Institute, 2014.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
  -->

<GlobalNamingResources>
    <Resource name="jdbc/metabolightsT"
              auth="Container"
	      type="javax.sql.DataSource"
	      factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
	      connectionCacheName="MetaboLightsCache"
	      connectionCacheProperties="{ValidateConnection=true}"
	      connectionCachingEnabled="true"
	      username="XXXXXX"
	      password="XXXXXX"
	      driverClassName="oracle.jdbc.OracleDriver"
	      url="jdbc:oracle:thin:@host:PORT:SID"
	      testWhileIdle="true"
	      testOnBorrow="true"
	      testOnReturn="true"
	      validationQuery="select 1 from dual"
	      validationInterval="30000"
	      timeBetweenEvictionRunsMillis="5000"
	      removeAbandoned="true"
	      removeAbandonedTimeout="60"
	      maxActive="50"
	      maxIdle="10"
	      maxWait="-1"/>
   <Environment name="isatabConfigurationLocation" value="/nfs/public/rw/homes/tc_cm01/metabolights/dev/isatab/configurations/" type="java.lang.String"/>
   <Environment name="publicStudiesLocation" value="/nfs/public/rw/homes/tc_cm01/metabolights/dev/studies/ftp/public/" type="java.lang.String"/>
   <Environment name="privateStudiesLocation" value="/nfs/public/rw/homes/tc_cm01/metabolights/dev/studies/stage/private/" type="java.lang.String"/>
    <!-- This is where the new web app looks for the users upload directory (LABS) -->
    <Environment name="userSpace" value="<some large file system>" type="java.lang.String"/>

</GlobalNamingResources>
