<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:sec="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
 
    <context:component-scan base-package="uk.ac.ebi.metabolights" />
    <context:annotation-config/>
    
    <!--  this makes references to picture and style sheets work -->
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>

	<bean id="viewResolver"
	    class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	    <property name="viewClass">
	        <value>
	            org.springframework.web.servlet.view.tiles2.TilesView
	        </value>
	    </property>
	</bean>

    <!-- 
    File uploading
     -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<!-- property name="maxUploadSize" value="100000"/-->
	</bean>
   
    
    <!-- 
    To configure Apache Tiles, an entry for bean TilesConfigure has to be made in spring-servlet.xml.
    An input configuration file /WEB-INF/tiles.xml is passed as argument in above bean definition. 
    This file contains the Tiles definition for our web application. 
    -->
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
	    <property name="definitions">
	        <list>
	            <value>/WEB-INF/tiles.xml</value>
	        </list>
	    </property>
    </bean>


	<!-- 
	We will provide a feature where user will be able to select language for the application. This is implemented by using 
	org.springframework.web.servlet.i18n.LocaleChangeInterceptor class. The LocaleChangeInterceptor class will intercept any changes in the locale. 
	These changes are then saved in cookies for future request. org.springframework.web.servlet.i18n.CookieLocaleResolver class will be used to 
	store the locale changes in cookies.
	 -->
	<bean id="messageSource"
	    class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	    <property name="basename" value="classpath:messages" />
	    <property name="defaultEncoding" value="UTF-8"/>
	</bean>
	<bean id="localeChangeInterceptor"
	    class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	    <property name="paramName" value="lang" />
	</bean>
	<bean id="localeResolver"
	    class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
	    <property name="defaultLocale" value="en"/>
	</bean>
	<bean id="handlerMapping"
	    class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
	    <property name="interceptors">
	        <ref bean="localeChangeInterceptor" />
	    </property>
	</bean>


    <!--  register the application properties -->
    <util:properties id="appProperties" location="classpath:application.properties"/>


    <!--  
      Database connection 
     -->
    <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" p:location="classpath:jdbc.properties" />

    <tx:annotation-driven />
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
 
    <!-- bean id="dataSource"
        class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
        p:driverClassName="${jdbc.driverClassName}"
        p:url="${jdbc.databaseurl}" p:username="${jdbc.username}"
        p:password="${jdbc.password}" /-->
 
    <!-- read settings from jdbc.properties file -->
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" scope="singleton" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}"/>
		<property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>
		<property name="minPoolSize" value="${jdbc.minPoolSize}"/>
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
		<property name="maxIdleTime" value="${jdbc.maxIdleTime}"/>
		<property name="autoCommitOnClose" value="${jdbc.autoCommitOnClose}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="jdbcUrl" value="${jdbc.databaseurl}"/>
    </bean>
 
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
        <property name="configurationClass">
            <value>org.hibernate.cfg.AnnotationConfiguration</value>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.dialect}</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>

    <!-- 
    The security department
     -->
    <sec:http use-expressions="true" auto-config='true'>
        <sec:intercept-url pattern="/submit" access="isAuthenticated()" /> <!-- requires-channel="https" -->
		<sec:intercept-url pattern="/biisubmit" access="isAuthenticated()" /> <!-- requires-channel="https" -->
        <sec:intercept-url pattern="/login" access="permitAll"/> <!-- requires-channel="https" -->  
        <sec:intercept-url pattern="/**" access="permitAll"/> <!-- requires-channel="http" -->
        <sec:logout logout-success-url="/loggedout" delete-cookies="JSESSIONID" />
        <!--remember-me/-->
        <!-- Uncomment to enable X509 client authentication support <x509 /> -->
        <!--sec:session-management invalid-session-url="/timeout"-->
        <sec:session-management invalid-session-url="/index">
            <sec:concurrency-control max-sessions="1" />  <!--  error-if-maximum-exceeded="true"  -->
        </sec:session-management>
        <!--  <form-login /> -->
        <sec:form-login login-page='/login' authentication-failure-url="/login?login_error=1" default-target-url="/login-success"  />
    </sec:http>
    <sec:authentication-manager>
        <sec:authentication-provider ref="isaTabAuthenticationProvider" />
    </sec:authentication-manager>
    <bean id="isaTabAuthenticationProvider" class="uk.ac.ebi.metabolights.authenticate.IsaTabAuthenticationProvider"/>

    <!-- 
    Email stuff
     -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	  <property name="host" value="imap.ebi.ac.uk"/>
	</bean>

	<bean id="reminderTemplate" class="org.springframework.mail.SimpleMailMessage">
	  <property name="from" value="no-reply@ebi.ac.uk"/>
	  <property name="subject" value="Your new password"/>
	</bean>

    <bean id="verifyNewAccountTemplate" class="org.springframework.mail.SimpleMailMessage">
      <property name="from" value="no-reply@ebi.ac.uk"/>
      <property name="subject" value="Please confirm your account request for Metabolights"/>
    </bean>

    <bean id="activateAccountTemplate" class="org.springframework.mail.SimpleMailMessage">
      <property name="from" value="metabolights-webapp@ebi.ac.uk"/>
      <property name="subject" value="New Metabolights account request"/>
      <property name="to">  <list><value>metabolights@ebi.ac.uk</value></list> </property>  <!--  -->
    </bean>

    <bean id="accountApprovedTemplate" class="org.springframework.mail.SimpleMailMessage">
      <property name="from" value="no-reply@ebi.ac.uk"/>
      <property name="subject" value="Your account for Metabolights is now active"/>
    </bean>


    
</beans>