<?xml version="1.0" encoding="UTF-8"?>

<!--  
Example taken from: http://static.springsource.org/docs/Spring-MVC-step-by-step/part1.html  
We define a DispatcherServlet (also known as a 'Front Controller' (Crupi et al)). It is going to control where 
all our requests are routed based on information we will enter at a later point. 
This servlet definition also has an attendant <servlet-mapping/> entry that maps to the URL patterns 
that we will be using. We have decided to let any URL with an '.htm' extension be routed to 
the 'springapp' servlet (the DispatcherServlet).

-->
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

  <!-- We still need to configure the service layer and we will do that in its own application context file. 
       This file is called 'applicationContext.xml' and it will be loaded via a servlet listener that we will 
       define in 'web.xml'. All bean configured in this new application context will be available to reference from any servlet context-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>springapp</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>springapp</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>
      index.jsp
    </welcome-file>
  </welcome-file-list>
  
  <!-- 
     To provide an interface in the web application to expose the price increase functionality, we add a form 
     that will allow the user to enter a percentage value. This form uses a tag library named 'spring-form.tld' 
     that is provided with the Spring Framework. Next we must also add a <taglib/> entry to the 'web.xml' file. 
  -->
  <jsp-config>
    <taglib>
      <taglib-uri>/spring</taglib-uri>
      <taglib-location>/tld/spring-form.tld</taglib-location>
    </taglib>
  </jsp-config>


</web-app>

