<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ EBI MetaboLights - http://www.ebi.ac.uk/metabolights
  ~ Cheminformatics and Metabolism group
  ~
  ~ European Bioinformatics Institute (EMBL-EBI), European Molecular Biology Laboratory, Wellcome Trust Genome Campus, Hinxton, Cambridge CB10 1SD, United Kingdom
  ~
  ~ Last modified: 10/24/13 9:17 AM
  ~ Modified by:   conesa
  ~
  ~
  ~ ©, EMBL, European Bioinformatics Institute, 2014.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
  -->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>uk.ac.ebi.metabolights.server.GreetingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/specview/greet</url-pattern>
  </servlet-mapping> -->

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>specview.html</welcome-file>
  </welcome-file-list>


    <servlet>
        <servlet-name>ProxyServlet2</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>8084</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/nmr-rest</param-value>
        </init-param>
        <init-param>
            <param-name>maxFileUploadSize</param-name>
            <param-value>5242880</param-value> <!-- 5MB in bytes -->
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyServlet2</servlet-name>
        <url-pattern>/nmr-rest/*</url-pattern>
    </servlet-mapping>
</web-app>
