<!--
  ~ EBI MetaboLights - http://www.ebi.ac.uk/metabolights
  ~ Cheminformatics and Metabolism group
  ~
  ~ Last modified: 17/10/13 11:34
  ~ Modified by:   kenneth
  ~
  ~ Copyright 2013 - European Bioinformatics Institute (EMBL-EBI), European Molecular Biology Laboratory, Wellcome Trust Genome Campus, Hinxton, Cambridge CB10 1SD, United Kingdom
  -->

<GlobalNamingResources>
     <Environment name="isatabConfigurationLocation" value="<FOLDER_NAME>" type="java.lang.String"/>
     <Environment name="publicStudiesLocation" value="<FOLDER_NAME>/studies/public/" type="java.lang.String"/>
     <Environment name="privateStudiesLocation" value="<FOLDER_NAME>/studies/private/" type="java.lang.String"/>
</GlobalNamingResources>
