/** Add css rules here for your application. */
canvas{
    outline: none;
    /*border: solid 1px black !important;*/
    margin: 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border-style: none !important;
}

.hola{
    background-color: #222222;
}