.scrollpane {
    overflow: auto;
}

.reactionRow {
    display: table-row;
    font-family: sans-serif;
}

div.compound {
    display: table-cell;
    text-align: center;
    background-color: #720A19;
    padding: 0.5ex 0.5em;
}

.stoichCoef {
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.direction {
    display: table-cell;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space: nowrap;
    vertical-align:middle
}

.compoundName {
    color: #00a;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.compoundStructure {
}

.hidden {
    display: none;
}

.coefName, .chebiId, .accession, .formula, .charge, .position {
    text-align: center;
}

.residues {
	display: table-row;
	background-color: white;
	font-size: smaller;
}

.residue {
	display: table-cell;
	text-align: center;
}

.coefName a{
    color: white;
}