
/*Image and css sprited using: http://spritegen.website-performance.org */
/* enlarged the image 2px (x and y) and increased the classes height and width to 36px to give some padding.*/

.ebiicon {
	display: inline-block;
	vertical-align:text-bottom;
	background: url(../img/ebi-icons/ebi-sprites.png) no-repeat top left;
	background-color: #bbbbbb;
	border-radius:3px 3px 3px 3px;
   	-moz-border-radius: 3px 3px 3px 3px;
   	-webkit-border-radius:3px 3px 3px 3px;
}

.ebiicon:hover{
	background-color: #dddddd;
}

.accessibility{ background-position: 0 0; width: 36px; height: 36px; } 
.add{ background-position: 0 -64px; width: 36px; height: 36px; } 
.agenda{ background-position: 0 -128px; width: 36px; height: 36px; } 
.airplane{ background-position: 0 -192px; width: 36px; height: 36px; } 
.alarm{ background-position: 0 -256px; width: 36px; height: 36px; } 
.album{ background-position: 0 -320px; width: 36px; height: 36px; } 
.alert{ background-position: 0 -384px; width: 36px; height: 36px; } 
.announcement{ background-position: 0 -448px; width: 36px; height: 36px; } 
.archive{ background-position: 0 -512px; width: 36px; height: 36px; } 
.arrow-down{ background-position: 0 -576px; width: 36px; height: 36px; } 
.arrow-left{ background-position: 0 -640px; width: 36px; height: 36px; } 
.arrow-right{ background-position: 0 -704px; width: 36px; height: 36px; } 
.arrow-up{ background-position: 0 -768px; width: 36px; height: 36px; } 
.art-brush{ background-position: 0 -834px; width: 36px; height: 36px; } 
.auction{ background-position: 0 -896px; width: 36px; height: 36px; } 
.award{ background-position: 0 -960px; width: 36px; height: 36px; } 
.battery-charge{ background-position: 0 -1024px; width: 36px; height: 36px; } 
.battery-full{ background-position: 0 -1088px; width: 36px; height: 36px; } 
.battery-half{ background-position: 0 -1152px; width: 36px; height: 36px; } 
.battery-low{ background-position: 0 -1216px; width: 36px; height: 36px; } 
.bell{ background-position: 0 -1280px; width: 36px; height: 36px; } 
.bicycle{ background-position: 0 -1344px; width: 36px; height: 36px; } 
.blackberry{ background-position: 0 -1408px; width: 36px; height: 36px; } 
.bluetooth{ background-position: 0 -1472px; width: 36px; height: 36px; } 
.boat{ background-position: 0 -1536px; width: 36px; height: 36px; } 
.book{ background-position: 0 -1600px; width: 36px; height: 36px; } 
.bookmark{ background-position: 0 -1664px; width: 36px; height: 36px; } 
.briefcase{ background-position: 0 -1728px; width: 36px; height: 36px; } 
.brightness{ background-position: 0 -1792px; width: 36px; height: 36px; } 
.bug{ background-position: 0 -1856px; width: 36px; height: 36px; } 
.bus{ background-position: 0 -1920px; width: 36px; height: 36px; } 
.calculator{ background-position: -64px 0; width: 36px; height: 36px; } 
.calendar-add{ background-position: -64px -64px; width: 36px; height: 36px; } 
.calendar-delete{ background-position: -64px -128px; width: 36px; height: 36px; } 
.calendar-edit{ background-position: -64px -192px; width: 36px; height: 36px; } 
.calendar-na{ background-position: -64px -256px; width: 36px; height: 36px; } 
.calendar-time{ background-position: -64px -320px; width: 36px; height: 36px; } 
.calendar{ background-position: -64px -384px; width: 36px; height: 36px; } 
.camera{ background-position: -64px -448px; width: 36px; height: 36px; } 
.car{ background-position: -64px -512px; width: 36px; height: 36px; } 
.cd{ background-position: -64px -576px; width: 36px; height: 36px; } 
.chart{ background-position: -64px -640px; width: 36px; height: 36px; } 
.check-box{ background-position: -64px -704px; width: 36px; height: 36px; } 
.check{ background-position: -64px -768px; width: 36px; height: 36px; } 
.clipboard{ background-position: -64px -832px; width: 36px; height: 36px; } 
.clock{ background-position: -64px -896px; width: 36px; height: 36px; } 
.coffee-cup{ background-position: -64px -960px; width: 36px; height: 36px; } 
.coffee-mug{ background-position: -64px -1024px; width: 36px; height: 36px; } 
.collapse{ background-position: -64px -1088px; width: 36px; height: 36px; } 
.comment-add{ background-position: -64px -1152px; width: 36px; height: 36px; } 
.comment-check{ background-position: -64px -1216px; width: 36px; height: 36px; } 
.comment-delete{ background-position: -64px -1280px; width: 36px; height: 36px; } 
.comment-disable{ background-position: -64px -1344px; width: 36px; height: 36px; } 
.comment-write{ background-position: -64px -1408px; width: 36px; height: 36px; } 
.comment{ background-position: -64px -1472px; width: 36px; height: 36px; } 
.compass{ background-position: -64px -1536px; width: 36px; height: 36px; } 
.connect{ background-position: -64px -1600px; width: 36px; height: 36px; } 
.connection-signal{ background-position: -64px -1664px; width: 36px; height: 36px; } 
.construction-hat{ background-position: -64px -1728px; width: 36px; height: 36px; } 
.construction{ background-position: -64px -1792px; width: 36px; height: 36px; } 
.contact-book{ background-position: -64px -1856px; width: 36px; height: 36px; } 
.contact-card{ background-position: -64px -1920px; width: 36px; height: 36px; } 
.contrast{ background-position: -128px 0; width: 36px; height: 36px; } 
.controller-eject{ background-position: -128px -64px; width: 36px; height: 36px; } 
.controller-forward{ background-position: -128px -128px; width: 36px; height: 36px; } 
.controller-next{ background-position: -128px -192px; width: 36px; height: 36px; } 
.controller-pause{ background-position: -128px -256px; width: 36px; height: 36px; } 
.controller-play{ background-position: -128px -320px; width: 36px; height: 36px; } 
.controller-previous{ background-position: -128px -384px; width: 36px; height: 36px; } 
.controller-record{ background-position: -128px -448px; width: 36px; height: 36px; } 
.controller-rewind{ background-position: -128px -512px; width: 36px; height: 36px; } 
.controller-stop{ background-position: -128px -576px; width: 36px; height: 36px; } 
.cool{ background-position: -128px -640px; width: 36px; height: 36px; } 
.copy{ background-position: -128px -704px; width: 36px; height: 36px; } 
.credit-card{ background-position: -128px -768px; width: 36px; height: 36px; } 
.cursor{ background-position: -128px -832px; width: 36px; height: 36px; } 
.cut{ background-position: -128px -896px; width: 36px; height: 36px; } 
.dashboard{ background-position: -128px -960px; width: 36px; height: 36px; } 
.database-add{ background-position: -128px -1024px; width: 36px; height: 36px; } 
.database-check{ background-position: -128px -1088px; width: 36px; height: 36px; } 
.database-delete{ background-position: -128px -1152px; width: 36px; height: 36px; } 
.database-edit{ background-position: -128px -1216px; width: 36px; height: 36px; } 
.database-error{ background-position: -128px -1280px; width: 36px; height: 36px; } 
.database-export{ background-position: -128px -1344px; width: 36px; height: 36px; } 
.database-import{ background-position: -128px -1408px; width: 36px; height: 36px; } 
.database-lock{ background-position: -128px -1472px; width: 36px; height: 36px; } 
.database-na{ background-position: -128px -1536px; width: 36px; height: 36px; } 
.database-reload{ background-position: -128px -1600px; width: 36px; height: 36px; } 
.database-save{ background-position: -128px -1664px; width: 36px; height: 36px; } 
.database-search{ background-position: -128px -1728px; width: 36px; height: 36px; } 
.database-start{ background-position: -128px -1792px; width: 36px; height: 36px; } 
.database-stop{ background-position: -128px -1856px; width: 36px; height: 36px; } 
.database-user{ background-position: -128px -1920px; width: 36px; height: 36px; } 
.database{ background-position: -192px 0; width: 36px; height: 36px; } 
.delete{ background-position: -192px -64px; width: 36px; height: 36px; } 
.delivery-truck{ background-position: -192px -128px; width: 36px; height: 36px; } 
.disconnect{ background-position: -192px -192px; width: 36px; height: 36px; } 
.discussion{ background-position: -192px -256px; width: 36px; height: 36px; } 
.download{ background-position: -192px -320px; width: 36px; height: 36px; } 
.earth{ background-position: -192px -384px; width: 36px; height: 36px; } 
.edit-disable{ background-position: -192px -448px; width: 36px; height: 36px; } 
.email-delete{ background-position: -192px -512px; width: 36px; height: 36px; } 
.email-forward{ background-position: -192px -576px; width: 36px; height: 36px; } 
.email-new{ background-position: -192px -640px; width: 36px; height: 36px; } 
.email-open{ background-position: -192px -704px; width: 36px; height: 36px; } 
.email-reply{ background-position: -192px -768px; width: 36px; height: 36px; } 
.email-write{ background-position: -192px -832px; width: 36px; height: 36px; } 
.email{ background-position: -192px -896px; width: 36px; height: 36px; } 
.employee-id{ background-position: -192px -960px; width: 36px; height: 36px; } 
.exchange{ background-position: -192px -1024px; width: 36px; height: 36px; } 
.expand{ background-position: -192px -1088px; width: 36px; height: 36px; } 
.eye{ background-position: -192px -1152px; width: 36px; height: 36px; } 
.eyedropper{ background-position: -192px -1216px; width: 36px; height: 36px; } 
.fan{ background-position: -192px -1280px; width: 36px; height: 36px; } 
.favorite-add{ background-position: -192px -1344px; width: 36px; height: 36px; } 
.favorite-delete{ background-position: -192px -1408px; width: 36px; height: 36px; } 
.favorite-edit{ background-position: -192px -1472px; width: 36px; height: 36px; } 
.favorite{ background-position: -192px -1536px; width: 36px; height: 36px; } 
.fever-chart{ background-position: -192px -1600px; width: 36px; height: 36px; } 
.filter{ background-position: -192px -1664px; width: 36px; height: 36px; } 
.financial{ background-position: -192px -1728px; width: 36px; height: 36px; } 
.first-aid-box{ background-position: -192px -1792px; width: 36px; height: 36px; } 
.flag{ background-position: -192px -1856px; width: 36px; height: 36px; } 
.flash{ background-position: -192px -1920px; width: 36px; height: 36px; } 
.folder-add{ background-position: -256px 0; width: 36px; height: 36px; } 
.folder-delete{ background-position: -256px -64px; width: 36px; height: 36px; } 
.folder-edit{ background-position: -256px -128px; width: 36px; height: 36px; } 
.folder-search{ background-position: -256px -192px; width: 36px; height: 36px; } 
.folder{ background-position: -256px -256px; width: 36px; height: 36px; } 
.font-decrease{ background-position: -256px -320px; width: 36px; height: 36px; } 
.font-increase{ background-position: -256px -384px; width: 36px; height: 36px; } 
.fullscreen-enter{ background-position: -256px -448px; width: 36px; height: 36px; } 
.fullscreen-exit{ background-position: -256px -512px; width: 36px; height: 36px; } 
.fullscreen{ background-position: -256px -576px; width: 36px; height: 36px; } 
.game-controller{ background-position: -256px -640px; width: 36px; height: 36px; } 
.gift-card{ background-position: -256px -704px; width: 36px; height: 36px; } 
.gift{ background-position: -256px -768px; width: 36px; height: 36px; } 
.go-to-bottom{ background-position: -256px -832px; width: 36px; height: 36px; } 
.go-to-top{ background-position: -256px -896px; width: 36px; height: 36px; } 
.gym{ background-position: -256px -960px; width: 36px; height: 36px; } 
.hammer{ background-position: -256px -1024px; width: 36px; height: 36px; } 
.hand-pointer{ background-position: -256px -1088px; width: 36px; height: 36px; } 
.hand{ background-position: -256px -1152px; width: 36px; height: 36px; } 
.headphone{ background-position: -256px -1216px; width: 36px; height: 36px; } 
.help{ background-position: -256px -1280px; width: 36px; height: 36px; } 
.highlighter{ background-position: -256px -1344px; width: 36px; height: 36px; } 
.history{ background-position: -256px -1408px; width: 36px; height: 36px; } 
.home{ background-position: -256px -1472px; width: 36px; height: 36px; } 
.hot{ background-position: -256px -1536px; width: 36px; height: 36px; } 
.hourglass{ background-position: -256px -1600px; width: 36px; height: 36px; } 
.infinite{ background-position: -256px -1664px; width: 36px; height: 36px; } 
.info{ background-position: -256px -1728px; width: 36px; height: 36px; } 
.iphone{ background-position: -256px -1792px; width: 36px; height: 36px; } 
.ipod{ background-position: -256px -1856px; width: 36px; height: 36px; } 
.key{ background-position: -256px -1920px; width: 36px; height: 36px; } 
.lab{ background-position: -320px 0; width: 36px; height: 36px; } 
.laptop{ background-position: -320px -64px; width: 36px; height: 36px; } 
.light-bulb{ background-position: -320px -128px; width: 36px; height: 36px; } 
.link{ background-position: -320px -192px; width: 36px; height: 36px; } 
.location-pin{ background-position: -320px -256px; width: 36px; height: 36px; } 
.location{ background-position: -320px -320px; width: 36px; height: 36px; } 
.lock{ background-position: -320px -384px; width: 36px; height: 36px; } 
.login{ background-position: -320px -448px; width: 36px; height: 36px; } 
.logout{ background-position: -320px -512px; width: 36px; height: 36px; } 
.luggage{ background-position: -320px -576px; width: 36px; height: 36px; } 
.magic-wand{ background-position: -320px -640px; width: 36px; height: 36px; } 
.mailbox-in{ background-position: -320px -704px; width: 36px; height: 36px; } 
.mailbox-out{ background-position: -320px -768px; width: 36px; height: 36px; } 
.mailbox{ background-position: -320px -832px; width: 36px; height: 36px; } 
.martini-glass{ background-position: -320px -896px; width: 36px; height: 36px; } 
.merge{ background-position: -320px -960px; width: 36px; height: 36px; } 
.microphone{ background-position: -320px -1024px; width: 36px; height: 36px; } 
.minus{ background-position: -320px -1088px; width: 36px; height: 36px; } 
.monitor{ background-position: -320px -1152px; width: 36px; height: 36px; } 
.mouse{ background-position: -320px -1216px; width: 36px; height: 36px; } 
.move{ background-position: -320px -1280px; width: 36px; height: 36px; } 
.museum{ background-position: -320px -1344px; width: 36px; height: 36px; } 
.music{ background-position: -320px -1408px; width: 36px; height: 36px; } 
.network{ background-position: -320px -1472px; width: 36px; height: 36px; } 
.newspaper{ background-position: -320px -1536px; width: 36px; height: 36px; } 
.notepad{ background-position: -320px -1600px; width: 36px; height: 36px; } 
.office-chair{ background-position: -320px -1664px; width: 36px; height: 36px; } 
.orbit{ background-position: -320px -1728px; width: 36px; height: 36px; } 
.package-box{ background-position: -320px -1792px; width: 36px; height: 36px; } 
.page-add{ background-position: -320px -1856px; width: 36px; height: 36px; } 
.page-check{ background-position: -320px -1920px; width: 36px; height: 36px; } 
.page-delete{ background-position: -384px 0; width: 36px; height: 36px; } 
.page-edit{ background-position: -384px -64px; width: 36px; height: 36px; } 
.page-error{ background-position: -384px -128px; width: 36px; height: 36px; } 
.page-lock{ background-position: -384px -192px; width: 36px; height: 36px; } 
.page-new{ background-position: -384px -256px; width: 36px; height: 36px; } 
.page-not-found{ background-position: -384px -320px; width: 36px; height: 36px; } 
.page-save{ background-position: -384px -384px; width: 36px; height: 36px; } 
.page-search{ background-position: -384px -448px; width: 36px; height: 36px; } 
.page-user{ background-position: -384px -512px; width: 36px; height: 36px; } 
.page{ background-position: -384px -576px; width: 36px; height: 36px; } 
.paint-brush{ background-position: -384px -640px; width: 36px; height: 36px; } 
.paper-clip{ background-position: -384px -704px; width: 36px; height: 36px; } 
.paste{ background-position: -384px -768px; width: 36px; height: 36px; } 
.pen{ background-position: -384px -832px; width: 36px; height: 36px; } 
.pencil{ background-position: -384px -896px; width: 36px; height: 36px; } 
.phone-classic{ background-position: -384px -960px; width: 36px; height: 36px; } 
.phone-mobile{ background-position: -384px -1024px; width: 36px; height: 36px; } 
.phone{ background-position: -384px -1088px; width: 36px; height: 36px; } 
.picture{ background-position: -384px -1152px; width: 36px; height: 36px; } 
.pie-chart{ background-position: -384px -1216px; width: 36px; height: 36px; } 
.pin{ background-position: -384px -1280px; width: 36px; height: 36px; } 
.plugin{ background-position: -384px -1344px; width: 36px; height: 36px; } 
.podcast{ background-position: -384px -1408px; width: 36px; height: 36px; } 
.power{ background-position: -384px -1472px; width: 36px; height: 36px; } 
.presentation{ background-position: -384px -1536px; width: 36px; height: 36px; } 
.print{ background-position: -384px -1600px; width: 36px; height: 36px; } 
.puzzle{ background-position: -384px -1664px; width: 36px; height: 36px; } 
.quote{ background-position: -384px -1728px; width: 36px; height: 36px; } 
.radio{ background-position: -384px -1792px; width: 36px; height: 36px; } 
.recycle{ background-position: -384px -1856px; width: 36px; height: 36px; } 
.redo{ background-position: -384px -1920px; width: 36px; height: 36px; } 
.reload{ background-position: -448px 0; width: 36px; height: 36px; } 
.remote-control{ background-position: -448px -64px; width: 36px; height: 36px; } 
.repeat{ background-position: -448px -128px; width: 36px; height: 36px; } 
.replay{ background-position: -448px -192px; width: 36px; height: 36px; } 
.restrict{ background-position: -448px -256px; width: 36px; height: 36px; } 
.rocket{ background-position: -448px -320px; width: 36px; height: 36px; } 
.rss{ background-position: -448px -384px; width: 36px; height: 36px; } 
.satellite{ background-position: -448px -448px; width: 36px; height: 36px; } 
.save{ background-position: -448px -512px; width: 36px; height: 36px; } 
.script{ background-position: -448px -576px; width: 36px; height: 36px; } 
.search{ background-position: -448px -640px; width: 36px; height: 36px; } 
.security{ background-position: -448px -704px; width: 36px; height: 36px; } 
.setting{ background-position: -448px -768px; width: 36px; height: 36px; } 
.share{ background-position: -448px -832px; width: 36px; height: 36px; } 
.shopping-bag{ background-position: -448px -896px; width: 36px; height: 36px; } 
.shopping-basket{ background-position: -448px -960px; width: 36px; height: 36px; } 
.shopping-cart{ background-position: -448px -1024px; width: 36px; height: 36px; } 
.shovel{ background-position: -448px -1088px; width: 36px; height: 36px; } 
.shuffle{ background-position: -448px -1152px; width: 36px; height: 36px; } 
.shutter{ background-position: -448px -1216px; width: 36px; height: 36px; } 
.sign{ background-position: -448px -1280px; width: 36px; height: 36px; } 
.sitemap{ background-position: -448px -1344px; width: 36px; height: 36px; } 
.slice{ background-position: -448px -1408px; width: 36px; height: 36px; } 
.sofa-chair{ background-position: -448px -1472px; width: 36px; height: 36px; } 
.split{ background-position: -448px -1536px; width: 36px; height: 36px; } 
.sport{ background-position: -448px -1600px; width: 36px; height: 36px; } 
.sprayer{ background-position: -448px -1664px; width: 36px; height: 36px; } 
.star{ background-position: -448px -1728px; width: 36px; height: 36px; } 
.stock-chart{ background-position: -448px -1792px; width: 36px; height: 36px; } 
.stop{ background-position: -448px -1856px; width: 36px; height: 36px; } 
.tag-cloud{ background-position: -448px -1920px; width: 36px; height: 36px; } 
.tag{ background-position: -512px 0; width: 36px; height: 36px; } 
.thumb-down{ background-position: -512px -64px; width: 36px; height: 36px; } 
.thumb-up{ background-position: -512px -128px; width: 36px; height: 36px; } 
.ticket{ background-position: -512px -192px; width: 36px; height: 36px; } 
.timer{ background-position: -512px -256px; width: 36px; height: 36px; } 
.tool-box{ background-position: -512px -320px; width: 36px; height: 36px; } 
.tool{ background-position: -512px -384px; width: 36px; height: 36px; } 
.train{ background-position: -512px -448px; width: 36px; height: 36px; } 
.trash{ background-position: -512px -512px; width: 36px; height: 36px; } 
.trophy{ background-position: -512px -576px; width: 36px; height: 36px; } 
.tv{ background-position: -512px -640px; width: 36px; height: 36px; } 
.umbella{ background-position: -512px -704px; width: 36px; height: 36px; } 
.undo{ background-position: -512px -768px; width: 36px; height: 36px; } 
.unlock{ background-position: -512px -832px; width: 36px; height: 36px; } 
.upload{ background-position: -512px -896px; width: 36px; height: 36px; } 
.usb{ background-position: -512px -960px; width: 36px; height: 36px; } 
.user-add{ background-position: -512px -1024px; width: 36px; height: 36px; } 
.user-comment{ background-position: -512px -1088px; width: 36px; height: 36px; } 
.user-delete{ background-position: -512px -1152px; width: 36px; height: 36px; } 
.user-disable{ background-position: -512px -1216px; width: 36px; height: 36px; } 
.user-edit{ background-position: -512px -1280px; width: 36px; height: 36px; } 
.user-group{ background-position: -512px -1344px; width: 36px; height: 36px; } 
.user{ background-position: -512px -1408px; width: 36px; height: 36px; } 
.video-camera{ background-position: -512px -1472px; width: 36px; height: 36px; } 
.video-clapper{ background-position: -512px -1536px; width: 36px; height: 36px; } 
.video-film{ background-position: -512px -1600px; width: 36px; height: 36px; } 
.video-reel{ background-position: -512px -1664px; width: 36px; height: 36px; } 
.voice-command-disable{ background-position: -512px -1728px; width: 36px; height: 36px; } 
.voice-command{ background-position: -512px -1792px; width: 36px; height: 36px; } 
.volume-high{ background-position: -512px -1856px; width: 36px; height: 36px; } 
.volume-low{ background-position: -512px -1920px; width: 36px; height: 36px; } 
.volume-mute{ background-position: -576px 0; width: 36px; height: 36px; } 
.walk{ background-position: -576px -64px; width: 36px; height: 36px; } 
.wallet{ background-position: -576px -128px; width: 36px; height: 36px; } 
.weather{ background-position: -576px -192px; width: 36px; height: 36px; } 
.web{ background-position: -576px -256px; width: 36px; height: 36px; } 
.webcam{ background-position: -576px -320px; width: 36px; height: 36px; } 
.wine-glass{ background-position: -576px -384px; width: 36px; height: 36px; } 
.wireless{ background-position: -576px -448px; width: 36px; height: 36px; } 
.write-note{ background-position: -576px -512px; width: 36px; height: 36px; } 
.zoom-in{ background-position: -576px -576px; width: 36px; height: 36px; } 
.zoom-out{ background-position: -576px -640px; width: 36px; height: 36px; }


/*

INITIAL CSS and image.

#sprite li {
    background: url(../img/ebi-icons/csg-50a3c751c9b4e.png) no-repeat top left;
}

.sprite-accessibility{ background-position: 0 0; width: 32px; height: 32px; } 
.sprite-add{ background-position: 0 -64px; width: 32px; height: 32px; } 
.sprite-agenda{ background-position: 0 -128px; width: 32px; height: 32px; } 
.sprite-airplane{ background-position: 0 -192px; width: 32px; height: 32px; } 
.sprite-alarm{ background-position: 0 -256px; width: 32px; height: 32px; } 
.sprite-album{ background-position: 0 -320px; width: 32px; height: 32px; } 
.sprite-alert{ background-position: 0 -384px; width: 32px; height: 32px; } 
.sprite-announcement{ background-position: 0 -448px; width: 32px; height: 32px; } 
.sprite-archive{ background-position: 0 -512px; width: 32px; height: 32px; } 
.sprite-arrow-down{ background-position: 0 -576px; width: 32px; height: 32px; } 
.sprite-arrow-left{ background-position: 0 -640px; width: 32px; height: 32px; } 
.sprite-arrow-right{ background-position: 0 -704px; width: 32px; height: 32px; } 
.sprite-arrow-up{ background-position: 0 -768px; width: 32px; height: 32px; } 
.sprite-art-brush{ background-position: 0 -832px; width: 32px; height: 32px; } 
.sprite-auction{ background-position: 0 -896px; width: 32px; height: 32px; } 
.sprite-award{ background-position: 0 -960px; width: 32px; height: 32px; } 
.sprite-battery-charge{ background-position: 0 -1024px; width: 32px; height: 32px; } 
.sprite-battery-full{ background-position: 0 -1088px; width: 32px; height: 32px; } 
.sprite-battery-half{ background-position: 0 -1152px; width: 32px; height: 32px; } 
.sprite-battery-low{ background-position: 0 -1216px; width: 32px; height: 32px; } 
.sprite-bell{ background-position: 0 -1280px; width: 32px; height: 32px; } 
.sprite-bicycle{ background-position: 0 -1344px; width: 32px; height: 32px; } 
.sprite-blackberry{ background-position: 0 -1408px; width: 32px; height: 32px; } 
.sprite-bluetooth{ background-position: 0 -1472px; width: 32px; height: 32px; } 
.sprite-boat{ background-position: 0 -1536px; width: 32px; height: 32px; } 
.sprite-book{ background-position: 0 -1600px; width: 32px; height: 32px; } 
.sprite-bookmark{ background-position: 0 -1664px; width: 32px; height: 32px; } 
.sprite-briefcase{ background-position: 0 -1728px; width: 32px; height: 32px; } 
.sprite-brightness{ background-position: 0 -1792px; width: 32px; height: 32px; } 
.sprite-bug{ background-position: 0 -1856px; width: 32px; height: 32px; } 
.sprite-bus{ background-position: 0 -1920px; width: 32px; height: 32px; } 
.sprite-calculator{ background-position: -64px 0; width: 32px; height: 32px; } 
.sprite-calendar-add{ background-position: -64px -64px; width: 32px; height: 32px; } 
.sprite-calendar-delete{ background-position: -64px -128px; width: 32px; height: 32px; } 
.sprite-calendar-edit{ background-position: -64px -192px; width: 32px; height: 32px; } 
.sprite-calendar-na{ background-position: -64px -256px; width: 32px; height: 32px; } 
.sprite-calendar-time{ background-position: -64px -320px; width: 32px; height: 32px; } 
.sprite-calendar{ background-position: -64px -384px; width: 32px; height: 32px; } 
.sprite-camera{ background-position: -64px -448px; width: 32px; height: 32px; } 
.sprite-car{ background-position: -64px -512px; width: 32px; height: 32px; } 
.sprite-cd{ background-position: -64px -576px; width: 32px; height: 32px; } 
.sprite-chart{ background-position: -64px -640px; width: 32px; height: 32px; } 
.sprite-check-box{ background-position: -64px -704px; width: 32px; height: 32px; } 
.sprite-check{ background-position: -64px -768px; width: 32px; height: 32px; } 
.sprite-clipboard{ background-position: -64px -832px; width: 32px; height: 32px; } 
.sprite-clock{ background-position: -64px -896px; width: 32px; height: 32px; } 
.sprite-coffee-cup{ background-position: -64px -960px; width: 32px; height: 32px; } 
.sprite-coffee-mug{ background-position: -64px -1024px; width: 32px; height: 32px; } 
.sprite-collapse{ background-position: -64px -1088px; width: 32px; height: 32px; } 
.sprite-comment-add{ background-position: -64px -1152px; width: 32px; height: 32px; } 
.sprite-comment-check{ background-position: -64px -1216px; width: 32px; height: 32px; } 
.sprite-comment-delete{ background-position: -64px -1280px; width: 32px; height: 32px; } 
.sprite-comment-disable{ background-position: -64px -1344px; width: 32px; height: 32px; } 
.sprite-comment-write{ background-position: -64px -1408px; width: 32px; height: 32px; } 
.sprite-comment{ background-position: -64px -1472px; width: 32px; height: 32px; } 
.sprite-compass{ background-position: -64px -1536px; width: 32px; height: 32px; } 
.sprite-connect{ background-position: -64px -1600px; width: 32px; height: 32px; } 
.sprite-connection-signal{ background-position: -64px -1664px; width: 32px; height: 32px; } 
.sprite-construction-hat{ background-position: -64px -1728px; width: 32px; height: 32px; } 
.sprite-construction{ background-position: -64px -1792px; width: 32px; height: 32px; } 
.sprite-contact-book{ background-position: -64px -1856px; width: 32px; height: 32px; } 
.sprite-contact-card{ background-position: -64px -1920px; width: 32px; height: 32px; } 
.sprite-contrast{ background-position: -128px 0; width: 32px; height: 32px; } 
.sprite-controller-eject{ background-position: -128px -64px; width: 32px; height: 32px; } 
.sprite-controller-forward{ background-position: -128px -128px; width: 32px; height: 32px; } 
.sprite-controller-next{ background-position: -128px -192px; width: 32px; height: 32px; } 
.sprite-controller-pause{ background-position: -128px -256px; width: 32px; height: 32px; } 
.sprite-controller-play{ background-position: -128px -320px; width: 32px; height: 32px; } 
.sprite-controller-previous{ background-position: -128px -384px; width: 32px; height: 32px; } 
.sprite-controller-record{ background-position: -128px -448px; width: 32px; height: 32px; } 
.sprite-controller-rewind{ background-position: -128px -512px; width: 32px; height: 32px; } 
.sprite-controller-stop{ background-position: -128px -576px; width: 32px; height: 32px; } 
.sprite-cool{ background-position: -128px -640px; width: 32px; height: 32px; } 
.sprite-copy{ background-position: -128px -704px; width: 32px; height: 32px; } 
.sprite-credit-card{ background-position: -128px -768px; width: 32px; height: 32px; } 
.sprite-cursor{ background-position: -128px -832px; width: 32px; height: 32px; } 
.sprite-cut{ background-position: -128px -896px; width: 32px; height: 32px; } 
.sprite-dashboard{ background-position: -128px -960px; width: 32px; height: 32px; } 
.sprite-database-add{ background-position: -128px -1024px; width: 32px; height: 32px; } 
.sprite-database-check{ background-position: -128px -1088px; width: 32px; height: 32px; } 
.sprite-database-delete{ background-position: -128px -1152px; width: 32px; height: 32px; } 
.sprite-database-edit{ background-position: -128px -1216px; width: 32px; height: 32px; } 
.sprite-database-error{ background-position: -128px -1280px; width: 32px; height: 32px; } 
.sprite-database-export{ background-position: -128px -1344px; width: 32px; height: 32px; } 
.sprite-database-import{ background-position: -128px -1408px; width: 32px; height: 32px; } 
.sprite-database-lock{ background-position: -128px -1472px; width: 32px; height: 32px; } 
.sprite-database-na{ background-position: -128px -1536px; width: 32px; height: 32px; } 
.sprite-database-reload{ background-position: -128px -1600px; width: 32px; height: 32px; } 
.sprite-database-save{ background-position: -128px -1664px; width: 32px; height: 32px; } 
.sprite-database-search{ background-position: -128px -1728px; width: 32px; height: 32px; } 
.sprite-database-start{ background-position: -128px -1792px; width: 32px; height: 32px; } 
.sprite-database-stop{ background-position: -128px -1856px; width: 32px; height: 32px; } 
.sprite-database-user{ background-position: -128px -1920px; width: 32px; height: 32px; } 
.sprite-database{ background-position: -192px 0; width: 32px; height: 32px; } 
.sprite-delete{ background-position: -192px -64px; width: 32px; height: 32px; } 
.sprite-delivery-truck{ background-position: -192px -128px; width: 32px; height: 32px; } 
.sprite-disconnect{ background-position: -192px -192px; width: 32px; height: 32px; } 
.sprite-discussion{ background-position: -192px -256px; width: 32px; height: 32px; } 
.sprite-download{ background-position: -192px -320px; width: 32px; height: 32px; } 
.sprite-earth{ background-position: -192px -384px; width: 32px; height: 32px; } 
.sprite-edit-disable{ background-position: -192px -448px; width: 32px; height: 32px; } 
.sprite-email-delete{ background-position: -192px -512px; width: 32px; height: 32px; } 
.sprite-email-forward{ background-position: -192px -576px; width: 32px; height: 32px; } 
.sprite-email-new{ background-position: -192px -640px; width: 32px; height: 32px; } 
.sprite-email-open{ background-position: -192px -704px; width: 32px; height: 32px; } 
.sprite-email-reply{ background-position: -192px -768px; width: 32px; height: 32px; } 
.sprite-email-write{ background-position: -192px -832px; width: 32px; height: 32px; } 
.sprite-email{ background-position: -192px -896px; width: 32px; height: 32px; } 
.sprite-employee-id{ background-position: -192px -960px; width: 32px; height: 32px; } 
.sprite-exchange{ background-position: -192px -1024px; width: 32px; height: 32px; } 
.sprite-expand{ background-position: -192px -1088px; width: 32px; height: 32px; } 
.sprite-eye{ background-position: -192px -1152px; width: 32px; height: 32px; } 
.sprite-eyedropper{ background-position: -192px -1216px; width: 32px; height: 32px; } 
.sprite-fan{ background-position: -192px -1280px; width: 32px; height: 32px; } 
.sprite-favorite-add{ background-position: -192px -1344px; width: 32px; height: 32px; } 
.sprite-favorite-delete{ background-position: -192px -1408px; width: 32px; height: 32px; } 
.sprite-favorite-edit{ background-position: -192px -1472px; width: 32px; height: 32px; } 
.sprite-favorite{ background-position: -192px -1536px; width: 32px; height: 32px; } 
.sprite-fever-chart{ background-position: -192px -1600px; width: 32px; height: 32px; } 
.sprite-filter{ background-position: -192px -1664px; width: 32px; height: 32px; } 
.sprite-financial{ background-position: -192px -1728px; width: 32px; height: 32px; } 
.sprite-first-aid-box{ background-position: -192px -1792px; width: 32px; height: 32px; } 
.sprite-flag{ background-position: -192px -1856px; width: 32px; height: 32px; } 
.sprite-flash{ background-position: -192px -1920px; width: 32px; height: 32px; } 
.sprite-folder-add{ background-position: -256px 0; width: 32px; height: 32px; } 
.sprite-folder-delete{ background-position: -256px -64px; width: 32px; height: 32px; } 
.sprite-folder-edit{ background-position: -256px -128px; width: 32px; height: 32px; } 
.sprite-folder-search{ background-position: -256px -192px; width: 32px; height: 32px; } 
.sprite-folder{ background-position: -256px -256px; width: 32px; height: 32px; } 
.sprite-font-decrease{ background-position: -256px -320px; width: 32px; height: 32px; } 
.sprite-font-increase{ background-position: -256px -384px; width: 32px; height: 32px; } 
.sprite-fullscreen-enter{ background-position: -256px -448px; width: 32px; height: 32px; } 
.sprite-fullscreen-exit{ background-position: -256px -512px; width: 32px; height: 32px; } 
.sprite-fullscreen{ background-position: -256px -576px; width: 32px; height: 32px; } 
.sprite-game-controller{ background-position: -256px -640px; width: 32px; height: 32px; } 
.sprite-gift-card{ background-position: -256px -704px; width: 32px; height: 32px; } 
.sprite-gift{ background-position: -256px -768px; width: 32px; height: 32px; } 
.sprite-go-to-bottom{ background-position: -256px -832px; width: 32px; height: 32px; } 
.sprite-go-to-top{ background-position: -256px -896px; width: 32px; height: 32px; } 
.sprite-gym{ background-position: -256px -960px; width: 32px; height: 32px; } 
.sprite-hammer{ background-position: -256px -1024px; width: 32px; height: 32px; } 
.sprite-hand-pointer{ background-position: -256px -1088px; width: 32px; height: 32px; } 
.sprite-hand{ background-position: -256px -1152px; width: 32px; height: 32px; } 
.sprite-headphone{ background-position: -256px -1216px; width: 32px; height: 32px; } 
.sprite-help{ background-position: -256px -1280px; width: 32px; height: 32px; } 
.sprite-highlighter{ background-position: -256px -1344px; width: 32px; height: 32px; } 
.sprite-history{ background-position: -256px -1408px; width: 32px; height: 32px; } 
.sprite-home{ background-position: -256px -1472px; width: 32px; height: 32px; } 
.sprite-hot{ background-position: -256px -1536px; width: 32px; height: 32px; } 
.sprite-hourglass{ background-position: -256px -1600px; width: 32px; height: 32px; } 
.sprite-infinite{ background-position: -256px -1664px; width: 32px; height: 32px; } 
.sprite-info{ background-position: -256px -1728px; width: 32px; height: 32px; } 
.sprite-iphone{ background-position: -256px -1792px; width: 32px; height: 32px; } 
.sprite-ipod{ background-position: -256px -1856px; width: 32px; height: 32px; } 
.sprite-key{ background-position: -256px -1920px; width: 32px; height: 32px; } 
.sprite-lab{ background-position: -320px 0; width: 32px; height: 32px; } 
.sprite-laptop{ background-position: -320px -64px; width: 32px; height: 32px; } 
.sprite-light-bulb{ background-position: -320px -128px; width: 32px; height: 32px; } 
.sprite-link{ background-position: -320px -192px; width: 32px; height: 32px; } 
.sprite-location-pin{ background-position: -320px -256px; width: 32px; height: 32px; } 
.sprite-location{ background-position: -320px -320px; width: 32px; height: 32px; } 
.sprite-lock{ background-position: -320px -384px; width: 32px; height: 32px; } 
.sprite-login{ background-position: -320px -448px; width: 32px; height: 32px; } 
.sprite-logout{ background-position: -320px -512px; width: 32px; height: 32px; } 
.sprite-luggage{ background-position: -320px -576px; width: 32px; height: 32px; } 
.sprite-magic-wand{ background-position: -320px -640px; width: 32px; height: 32px; } 
.sprite-mailbox-in{ background-position: -320px -704px; width: 32px; height: 32px; } 
.sprite-mailbox-out{ background-position: -320px -768px; width: 32px; height: 32px; } 
.sprite-mailbox{ background-position: -320px -832px; width: 32px; height: 32px; } 
.sprite-martini-glass{ background-position: -320px -896px; width: 32px; height: 32px; } 
.sprite-merge{ background-position: -320px -960px; width: 32px; height: 32px; } 
.sprite-microphone{ background-position: -320px -1024px; width: 32px; height: 32px; } 
.sprite-minus{ background-position: -320px -1088px; width: 32px; height: 32px; } 
.sprite-monitor{ background-position: -320px -1152px; width: 32px; height: 32px; } 
.sprite-mouse{ background-position: -320px -1216px; width: 32px; height: 32px; } 
.sprite-move{ background-position: -320px -1280px; width: 32px; height: 32px; } 
.sprite-museum{ background-position: -320px -1344px; width: 32px; height: 32px; } 
.sprite-music{ background-position: -320px -1408px; width: 32px; height: 32px; } 
.sprite-network{ background-position: -320px -1472px; width: 32px; height: 32px; } 
.sprite-newspaper{ background-position: -320px -1536px; width: 32px; height: 32px; } 
.sprite-notepad{ background-position: -320px -1600px; width: 32px; height: 32px; } 
.sprite-office-chair{ background-position: -320px -1664px; width: 32px; height: 32px; } 
.sprite-orbit{ background-position: -320px -1728px; width: 32px; height: 32px; } 
.sprite-package-box{ background-position: -320px -1792px; width: 32px; height: 32px; } 
.sprite-page-add{ background-position: -320px -1856px; width: 32px; height: 32px; } 
.sprite-page-check{ background-position: -320px -1920px; width: 32px; height: 32px; } 
.sprite-page-delete{ background-position: -384px 0; width: 32px; height: 32px; } 
.sprite-page-edit{ background-position: -384px -64px; width: 32px; height: 32px; } 
.sprite-page-error{ background-position: -384px -128px; width: 32px; height: 32px; } 
.sprite-page-lock{ background-position: -384px -192px; width: 32px; height: 32px; } 
.sprite-page-new{ background-position: -384px -256px; width: 32px; height: 32px; } 
.sprite-page-not-found{ background-position: -384px -320px; width: 32px; height: 32px; } 
.sprite-page-save{ background-position: -384px -384px; width: 32px; height: 32px; } 
.sprite-page-search{ background-position: -384px -448px; width: 32px; height: 32px; } 
.sprite-page-user{ background-position: -384px -512px; width: 32px; height: 32px; } 
.sprite-page{ background-position: -384px -576px; width: 32px; height: 32px; } 
.sprite-paint-brush{ background-position: -384px -640px; width: 32px; height: 32px; } 
.sprite-paper-clip{ background-position: -384px -704px; width: 32px; height: 32px; } 
.sprite-paste{ background-position: -384px -768px; width: 32px; height: 32px; } 
.sprite-pen{ background-position: -384px -832px; width: 32px; height: 32px; } 
.sprite-pencil{ background-position: -384px -896px; width: 32px; height: 32px; } 
.sprite-phone-classic{ background-position: -384px -960px; width: 32px; height: 32px; } 
.sprite-phone-mobile{ background-position: -384px -1024px; width: 32px; height: 32px; } 
.sprite-phone{ background-position: -384px -1088px; width: 32px; height: 32px; } 
.sprite-picture{ background-position: -384px -1152px; width: 32px; height: 32px; } 
.sprite-pie-chart{ background-position: -384px -1216px; width: 32px; height: 32px; } 
.sprite-pin{ background-position: -384px -1280px; width: 32px; height: 32px; } 
.sprite-plugin{ background-position: -384px -1344px; width: 32px; height: 32px; } 
.sprite-podcast{ background-position: -384px -1408px; width: 32px; height: 32px; } 
.sprite-power{ background-position: -384px -1472px; width: 32px; height: 32px; } 
.sprite-presentation{ background-position: -384px -1536px; width: 32px; height: 32px; } 
.sprite-print{ background-position: -384px -1600px; width: 32px; height: 32px; } 
.sprite-puzzle{ background-position: -384px -1664px; width: 32px; height: 32px; } 
.sprite-quote{ background-position: -384px -1728px; width: 32px; height: 32px; } 
.sprite-radio{ background-position: -384px -1792px; width: 32px; height: 32px; } 
.sprite-recycle{ background-position: -384px -1856px; width: 32px; height: 32px; } 
.sprite-redo{ background-position: -384px -1920px; width: 32px; height: 32px; } 
.sprite-reload{ background-position: -448px 0; width: 32px; height: 32px; } 
.sprite-remote-control{ background-position: -448px -64px; width: 32px; height: 32px; } 
.sprite-repeat{ background-position: -448px -128px; width: 32px; height: 32px; } 
.sprite-replay{ background-position: -448px -192px; width: 32px; height: 32px; } 
.sprite-restrict{ background-position: -448px -256px; width: 32px; height: 32px; } 
.sprite-rocket{ background-position: -448px -320px; width: 32px; height: 32px; } 
.sprite-rss{ background-position: -448px -384px; width: 32px; height: 32px; } 
.sprite-satellite{ background-position: -448px -448px; width: 32px; height: 32px; } 
.sprite-save{ background-position: -448px -512px; width: 32px; height: 32px; } 
.sprite-script{ background-position: -448px -576px; width: 32px; height: 32px; } 
.sprite-search{ background-position: -448px -640px; width: 32px; height: 32px; } 
.sprite-security{ background-position: -448px -704px; width: 32px; height: 32px; } 
.sprite-setting{ background-position: -448px -768px; width: 32px; height: 32px; } 
.sprite-share{ background-position: -448px -832px; width: 32px; height: 32px; } 
.sprite-shopping-bag{ background-position: -448px -896px; width: 32px; height: 32px; } 
.sprite-shopping-basket{ background-position: -448px -960px; width: 32px; height: 32px; } 
.sprite-shopping-cart{ background-position: -448px -1024px; width: 32px; height: 32px; } 
.sprite-shovel{ background-position: -448px -1088px; width: 32px; height: 32px; } 
.sprite-shuffle{ background-position: -448px -1152px; width: 32px; height: 32px; } 
.sprite-shutter{ background-position: -448px -1216px; width: 32px; height: 32px; } 
.sprite-sign{ background-position: -448px -1280px; width: 32px; height: 32px; } 
.sprite-sitemap{ background-position: -448px -1344px; width: 32px; height: 32px; } 
.sprite-slice{ background-position: -448px -1408px; width: 32px; height: 32px; } 
.sprite-sofa-chair{ background-position: -448px -1472px; width: 32px; height: 32px; } 
.sprite-split{ background-position: -448px -1536px; width: 32px; height: 32px; } 
.sprite-sport{ background-position: -448px -1600px; width: 32px; height: 32px; } 
.sprite-sprayer{ background-position: -448px -1664px; width: 32px; height: 32px; } 
.sprite-star{ background-position: -448px -1728px; width: 32px; height: 32px; } 
.sprite-stock-chart{ background-position: -448px -1792px; width: 32px; height: 32px; } 
.sprite-stop{ background-position: -448px -1856px; width: 32px; height: 32px; } 
.sprite-tag-cloud{ background-position: -448px -1920px; width: 32px; height: 32px; } 
.sprite-tag{ background-position: -512px 0; width: 32px; height: 32px; } 
.sprite-thumb-down{ background-position: -512px -64px; width: 32px; height: 32px; } 
.sprite-thumb-up{ background-position: -512px -128px; width: 32px; height: 32px; } 
.sprite-ticket{ background-position: -512px -192px; width: 32px; height: 32px; } 
.sprite-timer{ background-position: -512px -256px; width: 32px; height: 32px; } 
.sprite-tool-box{ background-position: -512px -320px; width: 32px; height: 32px; } 
.sprite-tool{ background-position: -512px -384px; width: 32px; height: 32px; } 
.sprite-train{ background-position: -512px -448px; width: 32px; height: 32px; } 
.sprite-trash{ background-position: -512px -512px; width: 32px; height: 32px; } 
.sprite-trophy{ background-position: -512px -576px; width: 32px; height: 32px; } 
.sprite-tv{ background-position: -512px -640px; width: 32px; height: 32px; } 
.sprite-umbella{ background-position: -512px -704px; width: 32px; height: 32px; } 
.sprite-undo{ background-position: -512px -768px; width: 32px; height: 32px; } 
.sprite-unlock{ background-position: -512px -832px; width: 32px; height: 32px; } 
.sprite-upload{ background-position: -512px -896px; width: 32px; height: 32px; } 
.sprite-usb{ background-position: -512px -960px; width: 32px; height: 32px; } 
.sprite-user-add{ background-position: -512px -1024px; width: 32px; height: 32px; } 
.sprite-user-comment{ background-position: -512px -1088px; width: 32px; height: 32px; } 
.sprite-user-delete{ background-position: -512px -1152px; width: 32px; height: 32px; } 
.sprite-user-disable{ background-position: -512px -1216px; width: 32px; height: 32px; } 
.sprite-user-edit{ background-position: -512px -1280px; width: 32px; height: 32px; } 
.sprite-user-group{ background-position: -512px -1344px; width: 32px; height: 32px; } 
.sprite-user{ background-position: -512px -1408px; width: 32px; height: 32px; } 
.sprite-video-camera{ background-position: -512px -1472px; width: 32px; height: 32px; } 
.sprite-video-clapper{ background-position: -512px -1536px; width: 32px; height: 32px; } 
.sprite-video-film{ background-position: -512px -1600px; width: 32px; height: 32px; } 
.sprite-video-reel{ background-position: -512px -1664px; width: 32px; height: 32px; } 
.sprite-voice-command-disable{ background-position: -512px -1728px; width: 32px; height: 32px; } 
.sprite-voice-command{ background-position: -512px -1792px; width: 32px; height: 32px; } 
.sprite-volume-high{ background-position: -512px -1856px; width: 32px; height: 32px; } 
.sprite-volume-low{ background-position: -512px -1920px; width: 32px; height: 32px; } 
.sprite-volume-mute{ background-position: -576px 0; width: 32px; height: 32px; } 
.sprite-walk{ background-position: -576px -64px; width: 32px; height: 32px; } 
.sprite-wallet{ background-position: -576px -128px; width: 32px; height: 32px; } 
.sprite-weather{ background-position: -576px -192px; width: 32px; height: 32px; } 
.sprite-web{ background-position: -576px -256px; width: 32px; height: 32px; } 
.sprite-webcam{ background-position: -576px -320px; width: 32px; height: 32px; } 
.sprite-wine-glass{ background-position: -576px -384px; width: 32px; height: 32px; } 
.sprite-wireless{ background-position: -576px -448px; width: 32px; height: 32px; } 
.sprite-write-note{ background-position: -576px -512px; width: 32px; height: 32px; } 
.sprite-zoom-in{ background-position: -576px -576px; width: 32px; height: 32px; } 
.sprite-zoom-out{ background-position: -576px -640px; width: 32px; height: 32px; } 

*/