/*
 * EBI MetaboLights - http://www.ebi.ac.uk/metabolights
 * Cheminformatics and Metabolism group
 *
 * Last modified: 12/02/14 12:51
 * Modified by:   kenneth
 *
 * Copyright 2014 - European Bioinformatics Institute (EMBL-EBI), European Molecular Biology Laboratory, Wellcome Trust Genome Campus, Hinxton, Cambridge CB10 1SD, United Kingdom
 */

/*
 * EBI MetaboLights - http://www.ebi.ac.uk/metabolights
 * Cheminformatics and Metabolism group
 *
 * Last modified: 12/02/14 12:35
 * Modified by:   kenneth
 *
 * Copyright 2014 - European Bioinformatics Institute (EMBL-EBI), European Molecular Biology Laboratory, Wellcome Trust Genome Campus, Hinxton, Cambridge CB10 1SD, United Kingdom
 */

/* Style cancellations from other css with less priority
/* --- Links --- */
a.noLine,
.bigbutton a {

    border-bottom-style: none;

}

a.noLine:link,
a.noLine:visited,
a:noLine:hover,
a:noLine:focus,
a:noLine:active {
    border-bottom-width: 0px;
}

div#local-title.logo-title span {
    margin-top: 2em
}

/* Generic div */
.refLayerBox {
    background-color: #ffffff;
    margin: 0px 2px 2px 4px;
    padding: 15px 10px 15px 10px; /* top right bottom left */
    overflow: auto;
    border: 1px solid #aaaaaa; /**/
    border-radius: 5px 0px 5px 0px;
    -moz-border-radius: 5px 0px 5px 0px;
    -webkit-border-radius: 5px 0px 5px 0px;
}

.summary {
    padding-left: 0px;
    padding-right: 0px;
}

div .box {
    background-color: #ffffff;
    margin: 3px 0px 3px 0px;
    padding: 5px 5px 5px 5px; /* top right bottom left */
    overflow: auto;
    border: 1px solid #aaaaaa; /**/
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

/*div attribute for reactions*/
.reacTab {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

th, td {
    border: none;
    vertical-align: middle;
}

/* td attribute for + and ? */
.tdSymbols {
    text-align: center;
    width: 5%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    /*padding: 95px 10px 5px 10px;*/
}

#reacTab td {
    text-align: center;
}

#reacTab td {
    vertical-align: baseline;
}

/*td attribute for Reaction*/
.tdReactions {
    text-align: center;
    width: auto;
    height: 100px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding-top: auto;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

/* Tag style */
.tag {
    background-color: #eeeeee;
    margin: 3px 1px 3px 1px;
    padding: 1px 2px 1px 2px; /* top right bottom left */
    border: 1px solid #aaaaaa;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
}

.title {
    color: #804D19;
    background: #E2AF7B;
    padding: 5px 5px 5px 5px;
    margin: 8px 0px 8px 0px;
    font-size: 120%;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.title a,
.title a:link,
.title a:visited,
.title a span.icon-functional::before,
.title a span.icon-generic::before,
.title span.icon-functional::before {
    color: #ffffff;
}

.colorBlack {
    color: #000000;
}

.colourGrey {
    font-size: 100%;
    color: #B0B0B0;
}

html.fontface .forChemistry:before {
    font-family: 'EBI-Chemistry';
    font-size: 150%;
    color: rgb(0, 0, 0);
    content: attr(data-icon);
    margin: 0
}

html.fontface .forReactChemistry:before {
    font-family: 'EBI-Chemistry';
    font-size: 150%;
    color: rgb(0, 0, 0);
    content: attr(data-icon);
    margin: 0
}

html.fontface .foMS:before {
    font-family: 'EBI-Chemistry';
    font-size: 150%;
    color: rgb(0, 0, 0);
    content: attr(data-icon);
    margin: 0
}

html.fontface .forReactions:before {
    font-family: 'EBI-Functional';
    font-size: 80%;
    color: rgb(0, 0, 0);
    content: attr(data-icon);
    margin: 0
}

html.fontface .forConceptual:before {
    font-family: 'EBI-Conceptual';
    font-size: 150%;
    color: rgb(0, 0, 0);
    content: attr(data-icon);
    margin: 0
}

html.fontface .forSpecies:before {
    font-family: 'EBI-Species';
    font-size: 150%;
    color: rgb(0, 0, 0);
    content: attr(data-icon);
    margin: 0
}

html.fontface .helpGeneric:before {
    font-family: 'EBI-Generic';
    font-size: 150%;
    color: rgb(0, 0, 0);
    content: attr(data-icon);
    margin: 0
}

.right {
    float: right;
    text-align: right;
}

/* Tab style */
.tab {
    min-height: 200px;
}

/* centered items */
.center {
    text-align: center;
}

form input.cancel {
    border-color: #999999;
    background-color: #eeeeee;
    background-image: none;
    color: #444444;
    text-shadow: none;
    box-shadow: none;
}

.bigfont,
form input.bigfont {
    font-size: 150%
}

/* Cancel default display style for inputs */
form input.submit,
input {
    display: inline;
}

.error {
    color: #AA0000;
    font-weight: bold;
}

/* Class for Filter sets */
.filterset {
    /*font-size: 10px;*/
    padding-left: 5px;
    max-height: 400px;
    overflow: auto
}

.filteritem {
    display: block;
}

/* Color section */
.maincolor {
    color: #E2C97B;
}

/* Maincolor inverted */
.maincolorI {
    color: #000000;
    background-color: #E2C97B;
}

.seccolor {
    color: #DE7985;
}

.seccolorI {
    color: #000000;
    background-color: #DE7985;
}

.dimmed {
    color: #B0B0B0;
}

.bgcolor {
    color: #ffffff;
}

/* big buttons */
.bigbutton {
    border-color: #000000;
    border: 1px solid #888888; /**/
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    padding: 6px 6px 6px 6px;
    text-align: center;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.bigbutton:hover,
.bigbutton:focus,
.bigbutton:active {
    opacity: 0.95;
    filter: alpha(opacity=95);
    color: #333333;
}

.bigbutton a {
    color: inherit;
}

.hidden {
    display: none;
}

/*
div#loginmenu ul{
	margin-top:1px;
}
*/
/* sddm: simple drop down menu
   CSS from in http://javascript-array.com/scripts/simple_drop_down_menu/
 */

#sddm {
    margin: 0;
    padding: 0;
    z-index: 30;
}

#sddm li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    float: left;
}

#sddm li a {
    display: block;
    margin: 0 1px 0 0;
    padding: 4px;
    color: #804D19;
    text-align: center;
    text-decoration: none;
    border-bottom-style: none;
    font-weight: bold;
}

#sddm li a:hover {
    /*background: #49A3FF*/
    color: #104250;
}

#sddm div {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: 1px solid #804D19
}

#sddm div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #E2BD97;
    font-size: 11px;
    font-weight: normal;
}

#sddm div a:hover {
    background: #E2AF7B;
    color: #804D19;
}

.smallArrow {
    position: relative;
    top: -1px;
    border-style: solid dashed dashed;
    border-color: transparent;
    border-top-color: #104250;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
    border-width: 5px 5px 0;
    padding-top: 1px;
    left: 4px;
}

#resultList li {
    text-indent: 5px;
    list-style-position: outside;
    list-style-image: url(../img/orangeBullet.jpg);
    list-style-type: square;
    padding: 2px;
    margin: 0px;
}

.topSpacer {
    height: 78px;
}

.topSpacerFilter {
    height: 23px;
}

.topSpacerFilter.noText {
    height: 0px;
}

/* for hiding the X in a jquery dialog*/
a.hide_closer {
    visibility: hidden;
}

.coolframe {
    height: 400px;
    padding: 1em;
    background: #fff;
}

#redline_side_car {
    display: none;
}

/*tr:nth-child(odd)		{ background-color:#eee; }*/
tr:nth-child(even) {
    background-color: #ebebeb;
}

/*tr.coloured{*/
/*background: #e8e8e8;*/
/*}*/

.publication {
    border: 1px;
    background-color: #fcf6f3;
    box-shadow: 6px 6px 3px #bbbbbb;
    padding: 20px;
    margin: 20px;
}

.pubtitle {
    font-weight: bold;
}

.pubjournal {
    font-style: italic;
}

th a.icon-functional::before {
    color: #ffffff;
}

input.resizable {
    width: 95%;
}

#spectrumbrowser {
    overflow: auto;
}

#spectrumbrowser table {
    border: 0px;
}

#spectrumbrowserms {
    overflow: auto;
}

#spectrumbrowserms table {
    border: 0px;
}

.specs {
    background-color: #f4f4f4;
    border: 1px;
    font-size: small;
    padding: 5px;
    width: 98%;
    margin: auto;
}

/*SVG Pathways classes*/
.compartment {
}

.svgTextLink {
    text-decoration: underline;
}

.svgSpeciesCurrent {
    fill: #E2AF7B;
}

.svgSpeciesLink {
    /*fill: red;*/
}

.svgTextLink:hover {
    fill-opacity: 0.6;
}

a[href^="#tabs"] span.icon {
    font-size: 72%;
}

H4 span.icon {
    font-size: 72%;
    color: #336B7B;
}

/* classes for responsive with of items */
.width95 {
    width: 95%
}

.width75 {
    width: 75%
}

.width50 {
    width: 50%
}

.width25 {
    width: 25%
}

#tree-container {
    min-height: 600px;
}

/* Species tree styles*/
.node {
    cursor: pointer
}

.node:hover {
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
}

.overlay {
    background-color: #f8f8f8;
}

/*.node circle { fill: #fff; stroke: #804D19; stroke-width: 2px; }*/
.node text {
    font-size: 14px;
    font-family: sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

/*.templink { fill: none; stroke: red; stroke-width: 3px; }*/
/*.ghostCircle.show{ display:block; }*/
/*.ghostCircle, .activeDrag .ghostCircle{ display: none; }*/

/*.node circle { fill: #804D19; stroke: #804D19; stroke-width: 2px; }*/
.leaf {
    fill: #ffffff;
    stroke: #804D19;
    stroke-width: 1px;
}

.branch {
    fill: #804D19;
    stroke: #804D19;
    stroke-width: 1px;
}

/*circle .leaf { fill: #E2AF7B; stroke: #E2AF7B; stroke-width: 2px; }*/

#wait {
    margin-top: 50px;
}

#wait img {
    width: 100px;
    margin-top: 100px;
}