/* Style cancellations from other css with less priority
/* --- Links --- */
a.noLine {
	
	border-bottom-style: none;
	
}
a.noLine:link,
a.noLine:visited{
	border-bottom-width: 0px;
}

/* Generic div */
.refLayerBox {
	background-color: #ffffff;
	margin: 0px 2px 2px 4px;
	padding: 5px 5px 5px 5px; /* top right bottom left */
	overflow: auto;
	border: 1px solid #aaaaaa;/**/
	border-radius:5px 5px 5px 5px;
   	-moz-border-radius: 5px 5px 5px 5px;
   	-webkit-border-radius:5px 5px 5px 5px;
}

div .box {
	background-color: #ffffff;
	margin: 3px 0px 3px 0px;
	padding: 5px 5px 5px 5px; /* top right bottom left */
	overflow: auto;
	border: 1px solid #aaaaaa;/**/
	border-radius:3px 3px 3px 3px;
   	-moz-border-radius: 3px 3px 3px 3px;
   	-webkit-border-radius:3px 3px 3px 3px;
}


/* td attribute for + and ? */
.tdSymbols {
	text-align: center;
	border: 0px 0px 0px 0px;
	padding-top: 40px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	width: 10%;	
}

/*td attribute for Reaction*/
.tdReactions{
	text-align: center; 
	width: 100px; 
	height:100px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	padding-top: 0px; 
	padding-bottom: 0px; 
	padding-right: 0px; 
	padding-left: 0px; 
	border-left-width: 0px; 
	border-right-width: 0px;
}

/* Tag style */
.tag {
	background-color: #eeeeee;
	margin: 3px 1px 3px 1px;
	padding: 1px 2px 1px 2px; /* top right bottom left */
	border: 1px solid #aaaaaa;
	border-radius:2px 2px 2px 2px;
   	-moz-border-radius: 2px 2px 2px 2px;
   	-webkit-border-radius:2px 2px 2px 2px;
}

.title {
	color: #006666;
    background: #eef5f5;
 	padding: 5px 5px 5px 5px;
 	margin: 8px 0px 8px 0px;
	font-size: 120%;
	font-weight: bold;
	border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
}
.right {
	float:right;
}


/* Tab style */
.tab {
	min-height:200px;
}

/* centered items */
.center {
    text-align:center;
}


form input.cancel{
	border-color: #999999;	/* P2 */
	
	background-color: #eeeeee;	/* colour P1 */
	background-image: none; 
	
	
	color: #444444;
	text-shadow: none;
	box-shadow: none;
}

form input.bigfont {
	font-size: 20px
}

/* Cancel default display style for inputs */
form input.submit,
input{
	display:inline;
}

.error {
	color:#AA0000;
	font-weight: bold;
}

/* Class for Filter sets */
.filterset {
	/*font-size: 10px;*/
	padding-left:5px;
	max-height:400px;
	overflow : auto
}

.filteritem {
	display:block;
}

.dimmed {
    color:#B0B0B0;
}

/* sddm: simple drop down menu
   CSS from in http://javascript-array.com/scripts/simple_drop_down_menu/
 */

#sddm {	
	margin: 0;
	padding: 0;
	z-index: 30;
}

#sddm li {	
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
	float: left;
}

#sddm li a {	
	display: block;
	margin: 0 1px 0 0;
	padding: 4px;
    color: #004242;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
	font-weight: bold;
}

#sddm li a:hover {
	/*background: #49A3FF*/
   color: #feba12;
}

#sddm div {	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 1px solid 006666
}

#sddm div a {	
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #eef5f5;
	font-size: 11px;
	font-weight:normal;
}

#sddm div a:hover {	
	background: #bdd7d7;
    color: #004242;
}

.smallArrow {
	position: relative;
	top: -1px;
	border-style: solid dashed dashed;
	border-color: transparent;
	border-top-color: #ffd98f;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 0;
	border-width: 5px 5px 0;
	padding-top: 1px;
	left: 4px;
}

#resultList li {
	text-indent: 5px;
	list-style-position: outside;
	list-style-image: url(../img/orangeBullet.jpg);
	list-style-type: square;
	padding: 2px;
	margin: 0px;
}

.topSpacer {
	height:78px;
}

.topSpacerFilter {
	height:23px;
}

.topSpacerFilter.noText {
	height:0px;
}


