/* Style cancellations from other css with less priority
/* --- Links --- */
a.noLine {
	
	border-bottom-style: none;
	
}

/* Generic div */
.genericDiv {
	background-color: #ffffff;
	margin: 0px 2px 2px 4px;
	padding: 5px 5px 5px 5px; /* top right bottom left */
	border: 1px solid #ffffff;*/
	border-radius:2px 2px 2px 2px;
   	-moz-border-radius: 2px 2px 2px 2px;
   	-webkit-border-radius:2px 2px 2px 2px;
}

/* Tag style */
.tag {
	background-color: #eeeeee;
	margin: 3px 1px 3px 1px;
	padding: 1px 2px 1px 2px; /* top right bottom left */
	border: 1px solid #aaaaaa;*/
	border-radius:2px 2px 2px 2px;
   	-moz-border-radius: 2px 2px 2px 2px;
   	-webkit-border-radius:2px 2px 2px 2px;
}

/* Tab style */
.tab {
	min-height:200px;
}

/* centered items */
.center {
    text-align:center;
}


form input.cancel{
	border-color: #999999;	/* P2 */
	
	background-color: #eeeeee;	/* colour P1 */
	background-image: none; 
	
	
	color: #444444;
	text-shadow: none;
	box-shadow: none;
}

form input.bigfont {
	font-size: 20px
}

/* Cancel default display style for inputs */
form input.submit,
input{
	display:inline;
}

.error {
	color:#AA0000;
	font-weight: bold;
}